.wpb_wrapper
  .es-resp
    .visible-xl(style='height: 90px;')
    .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 90px;')
    .visible-md(style='height: 90px;')
    .visible-sm(style='height: 90px;')
    .visible-ms(style='height: 90px;')
    .visible-xs(style='height: 90px;')
  #like_sc_header_1358855178.heading.header-subheader.align-center.subcolor-main.transform-default.has-subheader.theme-icon-second.icon-type-hidden.vc_custom_1568575197959.heading-tag-h2
    h6.subheader.ltx-sr-id-like_sc_header_1358855178304843310.ltx-sr.ltx-sr-effect-slide_from_bottom.ltx-sr-el-block.ltx-sr-delay-200.ltx-sr-duration-500.ltx-sr-sequences-50
      | Feedback
    h2.header.ltx-sr-id-like_sc_header_1358855178719944463.ltx-sr.ltx-sr-effect-fade_in.ltx-sr-el-block.ltx-sr-delay-0.ltx-sr-duration-1000.ltx-sr-sequences-0(data-text='Leave your Review')
      | Leave your Review
  #like_sc_content_width_151714039.ltx-content-width.ltx-col-align-center.ltx-block-align-left(style='max-width: 770px')
    .ltx-wrapper
      .wpb_text_column.wpb_content_element
        .wpb_wrapper
          p(style='text-align: center;')
            | Maecenas est dui, commodo a rutrum eget, interdum vel lorem.
            | Aliquam euismod dapibus turpis, vitae placerat purus vestibulum non. Pellentesque ut nisi
            | viverra, dictum nisi sed.
  #like_sc_content_width_141283751.ltx-content-width.ltx-col-align-center.ltx-block-align-left(style='max-width: 1050px')
    .ltx-wrapper
      #like_sc_contact_form_7_739118809.ltx-contact-form-7.transform-.form-center.form-gray.form-bg-gray.form-style-.form-btn-.form-btn-.form-padding-default
        #wpcf7-f1555-p23-o2.wpcf7(role='form' lang='en-US' dir='ltr')
          .screen-reader-response
          form.wpcf7-form(action='/testimonials/#wpcf7-f1555-p23-o2' method='post' novalidate='novalidate')
            div(style='display: none;')
              input(type='hidden' name='_wpcf7' value='1555')
              input(type='hidden' name='_wpcf7_version' value='5.1.6')
              input(type='hidden' name='_wpcf7_locale' value='en_US')
              input(type='hidden' name='_wpcf7_unit_tag' value='wpcf7-f1555-p23-o2')
              input(type='hidden' name='_wpcf7_container_post' value='23')
            .row
              .col-lg-6
                span.wpcf7-form-control-wrap.field-header
                  input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required(type='text' name='field-header' value='' size='40' aria-required='true' aria-invalid='false' placeholder='Your name')
              .col-lg-6
                span.wpcf7-form-control-wrap.field-header2
                  input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required(type='text' name='field-header2' value='' size='40' aria-required='true' aria-invalid='false' placeholder='Your email')
            p
              span.wpcf7-form-control-wrap.field-header-3
                textarea.wpcf7-form-control.wpcf7-textarea(name='field-header-3' cols='40' rows='10' aria-invalid='false' placeholder='Message')
            p
              input.wpcf7-form-control.wpcf7-submit(type='submit' value='Submit')
            .wpcf7-response-output.wpcf7-display-none
  .es-resp
    .visible-xl(style='height: 32px;')
    .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 32px;')
    .visible-md(style='height: 32px;')
    .visible-sm(style='height: 32px;')
    .visible-ms(style='height: 32px;')
    .visible-xs(style='height: 32px;')

