.vc_row.wpb_row.vc_row-fluid
  .wpb_column.vc_column_container.vc_col-sm-12
    .vc_column-inner
      .wpb_wrapper
        .es-resp
          .visible-xl(style='height: 48px;')
          .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 48px;')
          .visible-md(style='height: 48px;')
          .visible-sm(style='height: 48px;')
          .visible-ms(style='height: 48px;')
          .visible-xs(style='height: 48px;')
        #like_sc_header_219997532.heading.header-subheader.align-center.subcolor-main.transform-default.has-subheader.theme-icon-second.icon-type-hidden.heading-tag-h2
          h6.subheader.ltx-sr-id-like_sc_header_2199975321543117315.ltx-sr.ltx-sr-effect-slide_from_bottom.ltx-sr-el-block.ltx-sr-delay-200.ltx-sr-duration-500.ltx-sr-sequences-50
            | Testimonials
          h2.header.ltx-sr-id-like_sc_header_2199975322084650017.ltx-sr.ltx-sr-effect-fade_in.ltx-sr-el-block.ltx-sr-delay-0.ltx-sr-duration-1000.ltx-sr-sequences-0(data-text='What our clients say')
            | What our clients say
        .es-resp
          .visible-xl(style='height: 16px;')
          .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 16px;')
          .visible-md(style='height: 16px;')
          .visible-sm(style='height: 16px;')
          .visible-ms(style='height: 16px;')
          .visible-xs(style='height: 16px;')
.ltx-testimonials-list.ltx-testimonials-inner.row.masonry
  .col-lg-6.item
    .inner
      .ltx-descr
        p
          | Nullam orci dui, dictum et magna sollicitudin, tempor blandit erat. Maecenas suscipit tellus sit amet
          | augue placerat fringilla a id lacus. Morbi viverra volutpat ex, id pellentesque felis volutpat eu.
          | Etiam mattis laoreet leo sed accumsan. Fusce tincidunt in leo lacinia condimentum.
      .image
        img.attachment-bubulla-tiny-square.size-bubulla-tiny-square.wp-post-image(width='110' height='110' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-110x110.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-110x110.jpg 110w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-300x300.jpg 300w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-150x150.jpg 150w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-768x768.jpg 768w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-360x360.jpg 360w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-600x600.jpg 600w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-100x100.jpg 100w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-24x24.jpg 24w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-48x48.jpg 48w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-96x96.jpg 96w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-250x250.jpg 250w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-140x140.jpg 140w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-275x275.jpg 275w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-800x800.jpg 800w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-550x550.jpg 550w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02.jpg 952w' sizes='(max-width: 110px) 100vw, 110px')
      .header Patric Stone
      .subheader Freelancer
  .col-lg-6.item
    .inner.ltx-short
      .ltx-descr
        p
          | Maecenas ultricies felis sit amet libero scelerisque, ut eleifend leo mattis. Aliquam porta facilisis
          | metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      .header Hugo James
      .subheader Manager
  .col-lg-6.item
    .inner
      .ltx-descr
        p
          | Morbi viverra volutpat ex, id pellentesque felis volutpat eu. Duis et tellus imperdiet, lacinia risus
          | id, tincidunt ipsum. Integer euismod elit vel nibh commodo, at consequat nisl rhoncus. Etiam mattis
          | laoreet leo sed accumsan. Aliquam tempor lorem odio, non aliquam nunc egestas in.
      .image
        img.attachment-bubulla-tiny-square.size-bubulla-tiny-square.wp-post-image(width='110' height='110' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-01-110x110.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-01-110x110.jpg 110w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-01-300x300.jpg 300w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-01-150x150.jpg 150w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-01-768x768.jpg 768w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-01-360x360.jpg 360w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-01-600x600.jpg 600w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-01-100x100.jpg 100w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-01-24x24.jpg 24w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-01-48x48.jpg 48w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-01-96x96.jpg 96w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-01-250x250.jpg 250w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-01-140x140.jpg 140w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-01-275x275.jpg 275w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-01-800x800.jpg 800w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-01-550x550.jpg 550w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-01.jpg 952w' sizes='(max-width: 110px) 100vw, 110px')
      .header Stefanie Rashford
      .subheader Developer
  .col-lg-6.item
    .inner.ltx-short
      .ltx-descr
        p
          | Nullam orci dui, dictum et magna sollicitudin, tempor blandit erat. Maecenas suscipit tellus sit amet
          | augue placerat fringilla a id lacus. Fusce tincidunt in leo lacinia condimentum. Donec placerat, orci
          | vel consequat mattis, sapien lacus pretium mi, sed lacinia dolor nibh non mi.
      .header Cassie Carleton
      .subheader Designer
  .col-lg-6.item
    .inner
      .ltx-descr
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam facilisis at turpis eu faucibus. In
          | dignissim, enim eu ornare aliquet, metus ex tempor neque, sit amet efficitur turpis lorem et odio.
      .image
        img.attachment-bubulla-tiny-square.size-bubulla-tiny-square.wp-post-image(width='110' height='110' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-110x110.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-110x110.jpg 110w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-300x300.jpg 300w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-150x150.jpg 150w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-768x768.jpg 768w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-360x360.jpg 360w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-600x600.jpg 600w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-100x100.jpg 100w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-24x24.jpg 24w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-48x48.jpg 48w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-96x96.jpg 96w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-250x250.jpg 250w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-140x140.jpg 140w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-275x275.jpg 275w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-800x800.jpg 800w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-550x550.jpg 550w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05.jpg 952w' sizes='(max-width: 110px) 100vw, 110px')
      .header Coby Sue
      .subheader Company Owner
  .col-lg-6.item
    .inner
      .ltx-descr
        p
          | Donec placerat, orci vel consequat mattis, sapien lacus pretium mi, sed lacinia dolor nibh non mi.
          | Nullam orci dui, dictum et magna sollicitudin, tempor blandit erat. Maecenas suscipit tellus sit amet
          | augue placerat fringilla a id lacus. Fusce tincidunt in leo lacinia condimentum.
      .image
        img.attachment-bubulla-tiny-square.size-bubulla-tiny-square.wp-post-image(width='110' height='110' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-110x110.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-110x110.jpg 110w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-300x300.jpg 300w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-150x150.jpg 150w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-768x768.jpg 768w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-360x360.jpg 360w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-600x600.jpg 600w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-100x100.jpg 100w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-24x24.jpg 24w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-48x48.jpg 48w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-96x96.jpg 96w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-250x250.jpg 250w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-140x140.jpg 140w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-275x275.jpg 275w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-800x800.jpg 800w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-550x550.jpg 550w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07.jpg 952w' sizes='(max-width: 110px) 100vw, 110px')
      .header Fredrick Yolonda
      .subheader SEO Manager
  .col-lg-6.item
    .inner
      .ltx-descr
        p
          | Duis et tellus imperdiet, lacinia risus id, tincidunt ipsum. Integer euismod elit vel nibh commodo,
          | at consequat nisl rhoncus. Aliquam tempor lorem odio, non aliquam nunc egestas in. Aenean quam augue,
          | semper eu aliquam eget, sagittis ut dui. Suspendisse nisi lectus.
      .image
        img.attachment-bubulla-tiny-square.size-bubulla-tiny-square.wp-post-image(width='110' height='110' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-110x110.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-110x110.jpg 110w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-300x300.jpg 300w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-150x150.jpg 150w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-768x768.jpg 768w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-360x360.jpg 360w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-600x600.jpg 600w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-100x100.jpg 100w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-24x24.jpg 24w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-48x48.jpg 48w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-96x96.jpg 96w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-250x250.jpg 250w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-140x140.jpg 140w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-275x275.jpg 275w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-800x800.jpg 800w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-550x550.jpg 550w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09.jpg 952w' sizes='(max-width: 110px) 100vw, 110px')
      .header Sebastian Sampson
      .subheader Lead Developer
  .col-lg-6.item
    .inner.ltx-short
      .ltx-descr
        p
          | Aenean quam augue, semper eu aliquam eget, sagittis ut dui. Suspendisse nisi lectus. Lorem ipsum
          | dolor sit amet, consectetur adipiscing elit. Nullam facilisis at turpis eu faucibus. In dignissim,
          | enim eu ornare aliquet, metus ex tempor neque, sit amet efficitur turpis lorem et odio.
      .header Nancy Addison
      .subheader Manager
  .col-lg-6.item
    .inner
      .ltx-descr
        p
          | Duis et tellus imperdiet, lacinia risus id, tincidunt ipsum. Integer euismod elit vel nibh commodo,
          | at consequat nisl rhoncus. Aenean quam augue, semper eu aliquam eget, sagittis ut dui. Suspendisse
          | nisi lectus. Aliquam tempor lorem odio, non aliquam nunc egestas in.
      .image
        img.attachment-bubulla-tiny-square.size-bubulla-tiny-square.wp-post-image(width='110' height='110' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-110x110.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-110x110.jpg 110w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-300x300.jpg 300w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-150x150.jpg 150w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-768x768.jpg 768w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-360x360.jpg 360w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-600x600.jpg 600w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-100x100.jpg 100w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-24x24.jpg 24w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-48x48.jpg 48w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-96x96.jpg 96w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-250x250.jpg 250w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-140x140.jpg 140w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-275x275.jpg 275w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-800x800.jpg 800w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-550x550.jpg 550w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10.jpg 952w' sizes='(max-width: 110px) 100vw, 110px')
      .header Marina Korey
      .subheader Freelancer
  .col-lg-6.item
    .inner.ltx-short
      .ltx-descr
        p
          | Nullam orci dui, dictum et magna sollicitudin, tempor blandit erat. Maecenas suscipit tellus sit amet
          | augue placerat fringilla a id lacus. Fusce tincidunt in leo lacinia condimentum. Maecenas suscipit
          | tellus sit amet augue placerat fringilla a id lacus. Fusce tincidunt in leo lacinia condimentum.
      .header Jilly Palmer
      .subheader Student
  .col-lg-6.item
    .inner
      .ltx-descr
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam facilisis at turpis eu faucibus. In
          | dignissim, enim eu ornare aliquet, metus ex tempor neque, sit amet efficitur turpis lorem et odio. Nam
          | congue in orci at facilisis
      .image
        img.attachment-bubulla-tiny-square.size-bubulla-tiny-square.wp-post-image(width='110' height='110' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-110x110.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-110x110.jpg 110w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-300x300.jpg 300w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-150x150.jpg 150w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-768x768.jpg 768w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-360x360.jpg 360w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-600x600.jpg 600w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-100x100.jpg 100w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-24x24.jpg 24w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-48x48.jpg 48w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-96x96.jpg 96w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-250x250.jpg 250w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-140x140.jpg 140w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-275x275.jpg 275w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-800x800.jpg 800w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-550x550.jpg 550w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04.jpg 952w' sizes='(max-width: 110px) 100vw, 110px')
      .header Trevor Trey
      .subheader Scientist
  .col-lg-6.item
    .inner
      .ltx-descr
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam facilisis at turpis eu faucibus. In
          | dignissim, enim eu ornare aliquet, metus ex tempor neque, sit amet efficitur turpis lorem et odio. Nam
          | congue in orci at facilisis
      .image
        img.attachment-bubulla-tiny-square.size-bubulla-tiny-square.wp-post-image(width='110' height='110' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-110x110.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-110x110.jpg 110w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-300x300.jpg 300w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-150x150.jpg 150w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-768x768.jpg 768w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-360x360.jpg 360w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-600x600.jpg 600w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-100x100.jpg 100w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-24x24.jpg 24w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-48x48.jpg 48w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-96x96.jpg 96w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-250x250.jpg 250w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-140x140.jpg 140w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-275x275.jpg 275w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-800x800.jpg 800w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-550x550.jpg 550w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02.jpg 952w' sizes='(max-width: 110px) 100vw, 110px')
      .header Eddie Kevin
      .subheader  Journalist
