
<aside class="widget woocommerce widget_price_filter" id="woocommerce_price_filter-5">
  <div class="ltx-sidebar-header">
    <h3 class="header-widget"><span class="widget-icon"></span>Filter<span class="last widget-icon"></span></h3>
  </div>
  <form method="get" action="http://bubulla.like-themes.com/shop/">
    <div class="price_slider_wrapper">
      <div class="price_slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
        <div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 0%;"></span><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 100%;"></span>
      </div>
      <div class="price_slider_amount" data-step="10">
        <input id="min_price" type="text" name="min_price" value="0" data-min="0" placeholder="Min price" style="display: none;"/>
        <input id="max_price" type="text" name="max_price" value="100" data-max="100" placeholder="Max price" style="display: none;"/><span class="ltx-btn-wrap ltx-btn-wrap-main ltx-btn-wrap-hover-black">
          <button class="btn btn-xs btn-main color-hover-black" type="submit">Filter<span></span></button></span>
        <div class="price_label">Price: <span class="from">$0</span> — <span class="to">$100</span></div>
        <div class="clear"></div>
      </div>
    </div>
  </form>
</aside>