extend ../components/layout/_home.pug
block siteinfo
  - var title = "home"
block mainMenu
  include ../components/menu/_home.pug
block body
  include ../components/pages/home/_index.pug
block footer
  include ../components/footer/_index.pug
