
extend ../components/layout/_index.pug
block siteinfo
  - var title = "contacts"
block header
  include ../components/header/_index.pug
block mainMenu
  include ../components/menu/_index.pug
block body
  include ../components/pages/testimonials/_index.pug
block footer
  include ../components/footer/_index.pug
  //- script(type='text/javascript' src='./assets/plugins/js_composer/assets/js/map-style.js')