#nav-wrapper.navbar-layout-white
  nav.navbar(data-spy='' data-offset-top='0')
    .container
      .navbar-logo
        a.logo(href='http://bubulla.like-themes.com/')
          img(src='assets/uploads/2018/02/logo_02_bubulla_1x-1.png' alt='Bubulla' srcset='assets/uploads/2018/02/logo_02_bubulla_1x-1.png 1x,assets/uploads/2018/02/logo_02_bubulla_2x-1.png 2x')
      #navbar.navbar-collapse.collapse(data-mobile-screen-width='1200')
        .toggle-wrap
          a.logo(href='http://bubulla.like-themes.com/')
            img(src='assets/uploads/2018/02/logo_bubulla_1x-1.png' alt='Bubulla' srcset='assets/uploads/2018/02/logo_bubulla_1x-1.png 1x,assets/uploads/2018/02/logo_bubulla_2x-1.png 2x')
          button.navbar-toggle.collapsed(type='button')
            span.close ×
          .clearfix
        include ./_main-menu.pug
        include ./_shoping-menu.pug
        //- shoping-menu
      .navbar-controls
        button.navbar-toggle.collapsed(type='button')
          span.icon-bar.top-bar
          span.icon-bar.middle-bar
          span.icon-bar.bottom-bar
