ul#menu-main-menu.nav.navbar-nav
  li#menu-item-8571.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-8571
    a(href='#')
      span Home
    ul.sub-menu
      li#menu-item-7927.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-home.menu-item-7927
        a(href='http://bubulla.like-themes.com/')
          span Meat Delivery
      li#menu-item-11852.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-11852
        a(href='http://bubulla.like-themes.com/homepage-meat-store/')
          span Meat Store
      li#menu-item-11853.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-11853
        a(href='http://bubulla.like-themes.com/homepage-seafood-store/')
          span Seafood Store
      li#menu-item-11851.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-11851
        a(href='http://bubulla.like-themes.com/homepage-sliced/')
          span Sliced Slider
      li#menu-item-11850.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-11850
        a(href='http://bubulla.like-themes.com/homepage-parallax/')
          span Parallax
  li#menu-item-3557.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-3557
    a
      span About us
    ul.sub-menu
      li#menu-item-57.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-57
        a(href='http://bubulla.like-themes.com/testimonials/')
          span Testimonials
      li#menu-item-750.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-750
        a(href='http://bubulla.like-themes.com/team/')
          span Team
      li#menu-item-2364.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-2364
        a(href='/faq/')
          span FAQ
      li#menu-item-2584.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-2584
        a(href='/404-page')
          span 404 Page
      li#menu-item-60.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-60
        a
          span Gallery
        ul.sub-menu
          li#menu-item-47.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-47
            a(href='http://bubulla.like-themes.com/gallery-2-columns/')
              span Gallery 2-columns
          li#menu-item-48.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-48
            a(href='http://bubulla.like-themes.com/gallery-3-columns/')
              span Gallery 3-columns
          li#menu-item-49.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-49
            a(href='http://bubulla.like-themes.com/gallery-4-columns/')
              span Gallery 4-columns
  li#menu-item-619.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-ancestor.current-menu-parent.menu-item-has-children.menu-item-619
    a(href='#')
      span Products
    ul.sub-menu
      li#menu-item-623.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-623
        a(href='http://bubulla.like-themes.com/shop/')
          span Shop
      li#menu-item-622.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-615.current_page_item.menu-item-622
        a(href='http://bubulla.like-themes.com/cart/')
          span Cart
      li#menu-item-621.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-621
        a(href='http://bubulla.like-themes.com/checkout/')
          span Checkout
      li#menu-item-620.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-620
        a(href='http://bubulla.like-themes.com/my-account/')
          span My account
  li#menu-item-59.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-59
    a
      span Blog
    ul.sub-menu
      li#menu-item-3976.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-3976
        a(href='#')
          span Blog with Sidebar
        ul.sub-menu
          li#menu-item-43.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-43
            a(href='http://bubulla.like-themes.com/classic-blog-with-right-sidebar/')
              span
                | Classic Right
                | Sidebar
          li#menu-item-7844.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-7844
            a(href='http://bubulla.like-themes.com/blog-masonry-with-sidebar/')
              span
                | Masonry with Right
                | Sidebar
      li#menu-item-3977.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-3977
        a(href='#')
          span Blog without Sidebar
        ul.sub-menu
          li#menu-item-3975.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-3975
            a(href='http://bubulla.like-themes.com/classic-blog-without-sidebar/')
              span
                | Classic
                | Blog
          li#menu-item-45.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-45
            a(href='http://bubulla.like-themes.com/blog-two-columns-without-sidebar/')
              span
                | Masonry
                | 2-Columns
          li#menu-item-44.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-44
            a(href='http://bubulla.like-themes.com/blog-three-columns/')
              span Masonry 3-Columns
  li#menu-item-46.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-46
    a(href='http://bubulla.like-themes.com/contacts/')
      span Contacts
  li#menu-item-61.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.menu-item-has-mega-menu.menu-item-61
    a(href='#')
      span Pages
    .mega-menu
      ul.sub-menu.mega-menu-row
        li#menu-item-783.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.mega-menu-col.menu-item-783
          a
            span Typography
          ul.sub-menu.sub-menu-has-icons
            li#menu-item-597.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-icon.menu-item-597
              a.fa.fa-font(href='http://bubulla.like-themes.com/elements/headers/')
                span Headers
            li#menu-item-579.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-icon.menu-item-579
              a.fa.fa-align-left(href='http://bubulla.like-themes.com/elements/text/')
                span Text
            li#menu-item-594.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-icon.menu-item-594
              a.fa.fa-columns(href='http://bubulla.like-themes.com/elements/text_columns/')
                span Text Columns
            li#menu-item-643.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-icon.menu-item-643
              a.fa.fa-table(href='http://bubulla.like-themes.com/elements/table/')
                span Table
            li#menu-item-588.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-icon.menu-item-588
              a.fa.fa-arrows-h(href='http://bubulla.like-themes.com/elements/separators/')
                span Separators
        li#menu-item-784.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.mega-menu-col.menu-item-784
          a
            span Form Elements
          ul.sub-menu.sub-menu-has-icons
            li#menu-item-555.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-icon.menu-item-555
              a.fa.fa-mouse-pointer(href='http://bubulla.like-themes.com/elements/buttons/')
                span Buttons
            li#menu-item-705.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-icon.menu-item-705
              a.fa.fa-edit(href='http://bubulla.like-themes.com/elements/forms/')
                span Forms
        li#menu-item-785.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.mega-menu-col.menu-item-785
          a
            span Shortcodes
          ul.sub-menu.sub-menu-has-icons
            li#menu-item-527.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-icon.menu-item-527
              a.fa.fa-list(href='http://bubulla.like-themes.com/elements/accordions/')
                span Accordions
            li#menu-item-538.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-icon.menu-item-538
              a.fa.fa-exclamation-triangle(href='http://bubulla.like-themes.com/elements/alert/')
                span Alerts
            li#menu-item-568.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-icon.menu-item-568
              a.fa.fa-th-large(href='http://bubulla.like-themes.com/elements/tabs/')
                span Tabs
            li#menu-item-56.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-icon.menu-item-56
              a.fa.fa-caret-square-o-right(href='http://bubulla.like-themes.com/elements/shortcodes/')
                span Shortcodes
        li#menu-item-786.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-has-children.mega-menu-col.menu-item-786
          a(href='#')
            span Lists
          ul.sub-menu.sub-menu-has-icons
            li#menu-item-675.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-icon.menu-item-675
              a.fa.fa-gratipay(href='http://bubulla.like-themes.com/elements/icons-page/')
                span Icons
            li#menu-item-562.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-icon.menu-item-562
              a.fa.fa-twitter(href='http://bubulla.like-themes.com/elements/list/')
                span
                  | Lists
                  | and Social Icons
