.ltx-navbar-icons
  ul
    li.ltx-fa-icon.ltx-nav-profile.menu-item-has-children.hidden-sm.hidden-ms.hidden-xs
      a(href='http://bubulla.like-themes.com/my-account/')
        span.fa.fa.fa-user
    li.ltx-fa-icon.ltx-nav-cart.hidden-sm.hidden-ms.hidden-xs
      .cart-navbar
        a.ltx-cart.cart.shop_table(href='http://bubulla.like-themes.com/cart/' title='View your shopping cart')
          span.cart-contents.header-cart-count.count 4
          i.fa.fa.fa-shopping-cart(aria-hidden='true')
    li.ltx-fa-icon.ltx-nav-search.hidden-sm.hidden-ms.hidden-xs
      .top-search(data-base-href='http://bubulla.like-themes.com/')
        a#top-search-ico.top-search-ico.fa.fa-search(href='#' aria-hidden='true')
        a.top-search-ico-close(href='#' aria-hidden='true') ×
        input(placeholder='Search' value='' type='text')
.mobile-controls