.container.main-wrapper
  .team-sc.inner-page.margin-default
    .row.centered
      .col-xl-3.col-lg-3.col-md-6.col-sm-12.col-ms-12
        .item.matchHeight.team-item.item-type-circle(style='height: 489px;')
          a.image(href='http://bubulla.like-themes.com/team/john-portman/')
            img.attachment-full.size-full(width='952' height='952' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02.jpg 952w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-300x300.jpg 300w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-150x150.jpg 150w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-768x768.jpg 768w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-360x360.jpg 360w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-600x600.jpg 600w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-100x100.jpg 100w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-24x24.jpg 24w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-48x48.jpg 48w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-96x96.jpg 96w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-250x250.jpg 250w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-140x140.jpg 140w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-110x110.jpg 110w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-275x275.jpg 275w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-800x800.jpg 800w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-02-550x550.jpg 550w' sizes='(max-width: 952px) 100vw, 952px')
          .descr
            a(href='http://bubulla.like-themes.com/team/john-portman/')
              h4.header John Portman
            p.subheader Manager
            ul.ltx-social
              li
                a.fa.fa-twitter(href='#')
              li
                a.fa.fa-facebook-official(href='#')
              li
                a.fa.fa-google-plus(href='#')
              li
                a.fa.fa-instagram(href='#')
      .col-xl-3.col-lg-3.col-md-6.col-sm-12.col-ms-12
        .item.matchHeight.team-item.item-type-circle(style='height: 489px;')
          a.image(href='http://bubulla.like-themes.com/team/kelley-miles/')
            img.attachment-full.size-full(width='952' height='952' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-03.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-03.jpg 952w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-03-300x300.jpg 300w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-03-150x150.jpg 150w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-03-768x768.jpg 768w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-03-360x360.jpg 360w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-03-600x600.jpg 600w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-03-100x100.jpg 100w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-03-24x24.jpg 24w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-03-48x48.jpg 48w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-03-96x96.jpg 96w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-03-250x250.jpg 250w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-03-140x140.jpg 140w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-03-110x110.jpg 110w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-03-275x275.jpg 275w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-03-800x800.jpg 800w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-03-550x550.jpg 550w' sizes='(max-width: 952px) 100vw, 952px')
          .descr
            a(href='http://bubulla.like-themes.com/team/kelley-miles/')
              h4.header Kelley Miles
            p.subheader Nutritionist
            ul.ltx-social
              li
                a.fa.fa-twitter(href='#')
              li
                a.fa.fa-facebook-official(href='#')
              li
                a.fa.fa-google-plus(href='#')
              li
                a.fa.fa-instagram(href='#')
      .col-xl-3.col-lg-3.col-md-6.col-sm-12.col-ms-12
        .item.matchHeight.team-item.item-type-circle(style='height: 489px;')
          a.image(href='http://bubulla.like-themes.com/team/sherman-warner/')
            img.attachment-full.size-full(width='952' height='952' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04.jpg 952w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-300x300.jpg 300w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-150x150.jpg 150w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-768x768.jpg 768w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-360x360.jpg 360w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-600x600.jpg 600w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-100x100.jpg 100w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-24x24.jpg 24w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-48x48.jpg 48w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-96x96.jpg 96w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-250x250.jpg 250w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-140x140.jpg 140w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-110x110.jpg 110w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-275x275.jpg 275w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-800x800.jpg 800w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-04-550x550.jpg 550w' sizes='(max-width: 952px) 100vw, 952px')
          .descr
            a(href='http://bubulla.like-themes.com/team/sherman-warner/')
              h4.header Sherman Warner
            p.subheader Chef
            ul.ltx-social
              li
                a.fa.fa-twitter(href='#')
              li
                a.fa.fa-facebook-official(href='#')
              li
                a.fa.fa-google-plus(href='#')
              li
                a.fa.fa-instagram(href='#')
      .col-xl-3.col-lg-3.col-md-6.col-sm-12.col-ms-12
        .item.matchHeight.team-item.item-type-circle(style='height: 489px;')
          a.image(href='http://bubulla.like-themes.com/team/denis-green/')
            img.attachment-full.size-full(width='952' height='952' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07.jpg 952w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-300x300.jpg 300w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-150x150.jpg 150w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-768x768.jpg 768w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-360x360.jpg 360w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-600x600.jpg 600w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-100x100.jpg 100w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-24x24.jpg 24w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-48x48.jpg 48w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-96x96.jpg 96w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-250x250.jpg 250w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-140x140.jpg 140w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-110x110.jpg 110w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-275x275.jpg 275w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-800x800.jpg 800w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-07-550x550.jpg 550w' sizes='(max-width: 952px) 100vw, 952px')
          .descr
            a(href='http://bubulla.like-themes.com/team/denis-green/')
              h4.header Denis Green
            p.subheader Manager
            ul.ltx-social
              li
                a.fa.fa-twitter(href='#')
              li
                a.fa.fa-facebook-official(href='#')
              li
                a.fa.fa-google-plus(href='#')
              li
                a.fa.fa-instagram(href='#')
      .col-xl-3.col-lg-3.col-md-6.col-sm-12.col-ms-12
        .item.matchHeight.team-item.item-type-circle(style='height: 489px;')
          a.image(href='http://bubulla.like-themes.com/team/antony-taylor/')
            img.attachment-full.size-full(width='952' height='952' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05.jpg 952w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-300x300.jpg 300w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-150x150.jpg 150w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-768x768.jpg 768w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-360x360.jpg 360w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-600x600.jpg 600w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-100x100.jpg 100w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-24x24.jpg 24w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-48x48.jpg 48w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-96x96.jpg 96w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-250x250.jpg 250w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-140x140.jpg 140w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-110x110.jpg 110w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-275x275.jpg 275w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-800x800.jpg 800w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-05-550x550.jpg 550w' sizes='(max-width: 952px) 100vw, 952px')
          .descr
            a(href='http://bubulla.like-themes.com/team/antony-taylor/')
              h4.header Antony Taylor
            p.subheader Nutritionist
            ul.ltx-social
              li
                a.fa.fa-twitter(href='#')
              li
                a.fa.fa-facebook-official(href='#')
              li
                a.fa.fa-google-plus(href='#')
              li
                a.fa.fa-instagram(href='#')
      .col-xl-3.col-lg-3.col-md-6.col-sm-12.col-ms-12
        .item.matchHeight.team-item.item-type-circle(style='height: 489px;')
          a.image(href='http://bubulla.like-themes.com/team/michael-hardy/')
            img.attachment-full.size-full(width='952' height='952' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09.jpg 952w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-300x300.jpg 300w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-150x150.jpg 150w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-768x768.jpg 768w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-360x360.jpg 360w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-600x600.jpg 600w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-100x100.jpg 100w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-24x24.jpg 24w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-48x48.jpg 48w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-96x96.jpg 96w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-250x250.jpg 250w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-140x140.jpg 140w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-110x110.jpg 110w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-275x275.jpg 275w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-800x800.jpg 800w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-09-550x550.jpg 550w' sizes='(max-width: 952px) 100vw, 952px')
          .descr
            a(href='http://bubulla.like-themes.com/team/michael-hardy/')
              h4.header Philip Bailey
            p.subheader Chef
            ul.ltx-social
              li
                a.fa.fa-twitter(href='#')
              li
                a.fa.fa-facebook-official(href='#')
              li
                a.fa.fa-google-plus(href='#')
              li
                a.fa.fa-instagram(href='#')
      .col-xl-3.col-lg-3.col-md-6.col-sm-12.col-ms-12
        .item.matchHeight.team-item.item-type-circle(style='height: 489px;')
          a.image(href='http://bubulla.like-themes.com/team/grace-flynn/')
            img.attachment-full.size-full(width='952' height='952' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-08.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-08.jpg 952w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-08-300x300.jpg 300w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-08-150x150.jpg 150w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-08-768x768.jpg 768w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-08-360x360.jpg 360w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-08-600x600.jpg 600w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-08-100x100.jpg 100w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-08-24x24.jpg 24w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-08-48x48.jpg 48w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-08-96x96.jpg 96w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-08-250x250.jpg 250w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-08-140x140.jpg 140w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-08-110x110.jpg 110w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-08-275x275.jpg 275w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-08-800x800.jpg 800w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-08-550x550.jpg 550w' sizes='(max-width: 952px) 100vw, 952px')
          .descr
            a(href='http://bubulla.like-themes.com/team/grace-flynn/')
              h4.header Grace Flynn
            p.subheader Manager
            ul.ltx-social
              li
                a.fa.fa-twitter(href='#')
              li
                a.fa.fa-facebook-official(href='#')
              li
                a.fa.fa-google-plus(href='#')
              li
                a.fa.fa-instagram(href='#')
      .col-xl-3.col-lg-3.col-md-6.col-sm-12.col-ms-12
        .item.matchHeight.team-item.item-type-circle(style='height: 489px;')
          a.image(href='http://bubulla.like-themes.com/team/brian-marsh/')
            img.attachment-full.size-full(width='952' height='952' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10.jpg 952w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-300x300.jpg 300w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-150x150.jpg 150w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-768x768.jpg 768w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-360x360.jpg 360w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-600x600.jpg 600w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-100x100.jpg 100w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-24x24.jpg 24w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-48x48.jpg 48w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-96x96.jpg 96w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-250x250.jpg 250w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-140x140.jpg 140w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-110x110.jpg 110w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-275x275.jpg 275w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-800x800.jpg 800w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/team-10-550x550.jpg 550w' sizes='(max-width: 952px) 100vw, 952px')
          .descr
            a(href='http://bubulla.like-themes.com/team/brian-marsh/')
              h4.header Brian Marsh
            p.subheader Nutritionist
            ul.ltx-social
              li
                a.fa.fa-twitter(href='#')
              li
                a.fa.fa-facebook-official(href='#')
              li
                a.fa.fa-google-plus(href='#')
              li
                a.fa.fa-instagram(href='#')
