block siteinfo
doctype html
meta(charset='UTF-8')
meta(name='viewport' content='width=device-width')
meta(name='format-detection' content='telephone=no')
// <link rel="profile" href="//gmpg.org/xfn/11">
// <link rel="pingback" href="http://bubulla.like-themes.com/xmlrpc.php">
title Bubulla – Meat Store WordPress Theme
style(type='text/css' data-type='vc_shortcodes-custom-css').
  .vc_custom_1574622672299 {
  background-image: url(./assets/uploads/2018/02/skills_parallax.jpg?id=11325) !important;
  }
  .vc_custom_1577038215740 {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  }
  .vc_custom_1574869749050 {
  background-image: url(./assets/uploads/2018/02/testimonials_parallax.jpg?id=11327) !important;
  }
  .vc_custom_1577029878028 {
  border-bottom-width: 3px !important;
  border-bottom-color: #ededed !important;
  border-bottom-style: solid !important;
  }
  .vc_custom_1577032149998 {
  margin-top: 0px !important;
  }
  .vc_custom_1574623635792 {
  margin-top: -90px !important;
  background-image: url(./assets/uploads/2019/11/meat_BG_lines_big-02.png?id=11407) !important;
  }
  .vc_custom_1577112637628 {
  background-image: url(./assets/uploads/2018/02/butcher.jpg?id=11324) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  }
  .vc_custom_1574702720696 {
  background-image: url(./assets/uploads/2019/11/meat_BG_lines_big-005.png?id=11438) !important;
  }
  .vc_custom_1577038285278 {
  background-image: url(./assets/uploads/2019/12/price-bg.png?id=11801) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  }
  .vc_custom_1577038165559 {
  margin-top: 0px !important;
  }
  .vc_custom_1574867130861 {
  margin-bottom: 24px !important;
  }
link#tribe-common-skeleton-style-css(rel='stylesheet' href='./assets/plugins/the-events-calendar/common/src/resources/css/common-skeleton.min.css' type='text/css' media='all')
link#tribe-tooltip-css(rel='stylesheet' href='./assets/plugins/the-events-calendar/common/src/resources/css/tooltip.min.css' type='text/css' media='all')
link#wp-block-library-css(rel='stylesheet' href='./assets/wp-includes/css/dist/block-library/style.min.css' type='text/css' media='all')
link#wp-block-library-theme-css(rel='stylesheet' href='./assets/wp-includes/css/dist/block-library/theme.min.css' type='text/css' media='all')
link#mpp_gutenberg-css(rel='stylesheet' href='./assets/plugins/metronet-profile-picture/dist/blocks.style.build.css' type='text/css' media='all')
link#contact-form-7-css(rel='stylesheet' href='./assets/plugins/contact-form-7/includes/css/styles.css' type='text/css' media='all')
link#dashicons-css(rel='stylesheet' href='./assets/wp-includes/css/dashicons.min.css' type='text/css' media='all')
link#post-views-counter-frontend-css(rel='stylesheet' href='./assets/plugins/post-views-counter/css/frontend.css' type='text/css' media='all')
link(rel='stylesheet' href='./assets/plugins/woocommerce/assets/css/woocommerce-layout.css' type='text/css' media='all')
link#woocommerce-smallscreen-css(rel='stylesheet' href='./assets/plugins/woocommerce/assets/css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)')

link(rel='stylesheet' href='./assets/plugins/woocommerce/assets/css/woocommerce.css' type='text/css' media='all')


link#bootstrap-css(rel='stylesheet' href='./assets/wp-content/themes/bubulla/assets/css/bootstrap-grid.css' type='text/css' media='all')
link#bubulla-plugins-css(rel='stylesheet' href='./assets/wp-content/themes/bubulla/assets/css/plugins.css' type='text/css' media='all')
link#bubulla-theme-style-css(rel='stylesheet' href='./assets/wp-content/themes/bubulla/style.css' type='text/css' media='all')
link#font-awesome-css(rel='stylesheet' href='./assets/plugins/js_composer/assets/lib/bower/font-awesome/css/font-awesome.min.css' type='text/css' media='all')
link#js_composer_front-css(rel='stylesheet' href='./assets/plugins/js_composer/assets/css/js_composer.min.css' type='text/css' media='all')
link#fw-option-type-icon-v2-pack-linecons-css(rel='stylesheet' href='./assets/plugins/unyson/framework/static/libs/linecons/css/linecons.css' type='text/css' media='all')
link#fw-option-type-icon-v2-pack-font-awesome-css(rel='stylesheet' href='./assets/plugins/unyson/framework/static/libs/font-awesome/css/font-awesome.min.css' type='text/css' media='all')
link#fw-option-type-icon-v2-pack-entypo-css(rel='stylesheet' href='./assets/plugins/unyson/framework/static/libs/entypo/css/entypo.css' type='text/css' media='all')
link#fw-option-type-icon-v2-pack-linearicons-css(rel='stylesheet' href='./assets/plugins/unyson/framework/static/libs/lnr/css/lnr.css' type='text/css' media='all')
link#fw-option-type-icon-v2-pack-typicons-css(rel='stylesheet' href='./assets/plugins/unyson/framework/static/libs/typcn/css/typcn.css' type='text/css' media='all')
link#fw-option-type-icon-v2-pack-unycon-css(rel='stylesheet' href='./assets/plugins/unyson/framework/static/libs/unycon/unycon.css' type='text/css' media='all')
link#bubulla-google-fonts-css(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:400,200,400i,700%7CBarlow:700,700i%7CSacramento:400&subset=latin-ext' type='text/css' media='all')
link#bubulla-fontello-css(rel='stylesheet' href='./assets/uploads/2018/02/ltx-bubulla-codes-1.css' type='text/css' media='all')


script(type='text/javascript' src='./assets/wp-includes/js/jquery/jquery.js')
script(type='text/javascript' src='./assets/wp-includes/js/jquery/jquery-migrate.min.js')
script(type='text/javascript' src='./assets/wp-content/themes/bubulla/assets/js/modernizr-2.6.2.min.js')
meta(name='generator' content='WordPress 5.3.8')
meta(name='tec-api-version' content='v1')
meta(name='tec-api-origin' content='http://bubulla.like-themes.com')
link(rel='https://theeventscalendar.com/' href='http://bubulla.like-themes.com/wp-json/tribe/events/v1/')
meta(name='generator' content='Powered by WPBakery Page Builder - drag and drop page builder for WordPress.')
link(rel='icon' href='./assets/uploads/2018/02/cropped-favicon-48x48.png' sizes='32x32')
link(rel='icon' href='./assets/uploads/2018/02/cropped-favicon-250x250.png' sizes='192x192')
link(rel='apple-touch-icon-precomposed' href='./assets/uploads/2018/02/cropped-favicon-250x250.png')
meta(name='msapplication-TileImage' content='./assets/uploads/2018/02/cropped-favicon-275x275.png')
noscript
  style.
    .wpb_animate_when_almost_visible {
    opacity: 1;
    }

body.theme-bubulla.woocommerce-no-js.tribe-no-js.full-width.ltx-color-scheme-default.paceloader-enabled.wpb-js-composer.vc_responsive(class='js-comp-ver-6.0.5')
  #ltx-preloader(data-loader='Loading...')
  .ltx-content-wrapper.desktop-center-transparent
    .header-wrapper.header-h1.header-parallax.wrapper-navbar-layout-desktop-center-transparent.ltx-pageheader-disabled
      block mainMenu

    .home.page-template-default.page.page-id-7925
      .container.main-wrapper
        // Content
        block body
  block footer

  link#zoomslider-css(rel='stylesheet' href='./assets/plugins/lt-ext/shortcodes/zoom_slider/zoom-slider.css?ver=1577374824' type='text/css' media='all')

    
    
  script.
    ( function ( body ) {
    'use strict';
    body.className = body.className.replace( /\\btribe-no-js\b/, 'tribe-js' );
    } )( document.body );
  script.
    /* <![CDATA[ */var tribe_l10n_datatables = {"aria":{"sort_ascending":": activate to sort column ascending","sort_descending":": activate to sort column descending"},"length_menu":"Show _MENU_ entries","empty_table":"No data available in table","info":"Showing _START_ to _END_ of _TOTAL_ entries","info_empty":"Showing 0 to 0 of 0 entries","info_filtered":"(filtered from _MAX_ total entries)","zero_records":"No matching records found","search":"Search:","all_selected_text":"All items on this page were selected. ","select_all_link":"Select all pages","clear_selection":"Clear Selection.","pagination":{"all":"All","next":"Next","previous":"Previous"},"select":{"rows":{"0":"","_":": Selected %d rows","1":": Selected 1 row"}},"datepicker":{"dayNames":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"dayNamesShort":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"dayNamesMin":["S","M","T","W","T","F","S"],"monthNames":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthNamesShort":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthNamesMin":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"nextText":"Next","prevText":"Prev","currentText":"Today","closeText":"Done","today":"Today","clear":"Clear"}};/* ]]> */
  script.
    (function() {function addEventListener(element,event,handler) {
    if (element.addEventListener) {
    element.addEventListener( event,handler, false );
    } else if (element.attachEvent) {
    element.attachEvent( 'on' + event,handler );
    }
    }
    function maybePrefixUrlField() {
    if (this.value.trim() !== '' && this.value.indexOf( 'http' ) !== 0) {
    this.value = "http://" + this.value;
    }
    }
    var urlFields = document.querySelectorAll( '.mc4wp-form input[type="url"]' );
    if ( urlFields && urlFields.length > 0 ) {
    for ( var j = 0; j < urlFields.length; j++ ) {
    addEventListener( urlFields[j],'blur',maybePrefixUrlField );
    }
    }
    /* test if browser supports date fields */
    var testInput = document.createElement( 'input' );
    testInput.setAttribute( 'type', 'date' );
    if ( testInput.type !== 'date') {
    /* add placeholder & pattern to all date fields */
    var dateFields = document.querySelectorAll( '.mc4wp-form input[type="date"]' );
    for (var i = 0; i < dateFields.length; i++) {
    if ( ! dateFields[i].placeholder) {
    dateFields[i].placeholder = 'YYYY-MM-DD';
    }
    if ( ! dateFields[i].pattern) {
    dateFields[i].pattern = '[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])';
    }
    }
    }
    })();
  script(type='text/javascript').
    var c = document.body.className;
    c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
    document.body.className = c;

  script(type='text/javascript' src='./assets/plugins/metronet-profile-picture/js/mpp-frontend.js')
  script(type='text/javascript' src='./assets/wp-includes/js/imagesloaded.min.js')
  script(type='text/javascript' src='./assets/wp-includes/js/masonry.min.js')
  script(type='text/javascript' src='./assets/wp-includes/js/jquery/jquery.masonry.min.js')
  script(type='text/javascript' src='./assets/wp-content/themes/bubulla/assets/js/jquery.matchHeight.js')
  script(type='text/javascript' src='./assets/wp-content/themes/bubulla/assets/js/jquery.nicescroll.js')
  script(type='text/javascript' src='./assets/wp-content/themes/bubulla/assets/js/jquery.swipebox.js')
  script(type='text/javascript' src='./assets/wp-content/themes/bubulla/assets/js/bootstrap.min.js')
  script(type='text/javascript' src='./assets/wp-content/themes/bubulla/assets/js/swiper.min.js')
  script(type='text/javascript' src='./assets/wp-content/themes/bubulla/assets/js/scrollreveal.js')
  script(type='text/javascript' src='./assets/wp-content/themes/bubulla/assets/js/waypoint.js')
  script(type='text/javascript' src='./assets/wp-content/themes/bubulla/assets/js/parallax.min.js')
  script(type='text/javascript' src='./assets/wp-content/themes/bubulla/assets/js/scripts.js')
  script(type='text/javascript' src='./assets/wp-content/themes/bubulla/assets/js/map-style.js')
  script(type='text/javascript' src='./assets/wp-content/themes/bubulla/assets/js/pace.js')
  script(type='text/javascript' src='./assets/wp-includes/js/wp-embed.min.js')
  script(type='text/javascript' src='./assets/plugins/js_composer/assets/js/dist/js_composer_front.min.js')
  script(type='text/javascript' src='./assets/plugins/lt-ext/shortcodes/zoom_slider/jquery.zoomslider.js')
  script(type='text/javascript' src='./assets/plugins/lt-ext//shortcodes/parallax_image/jquery.paroller.min.js')
  script(type='text/javascript' src='./assets/plugins/lt-ext//shortcodes/countup/jquery.counterup.min.js')
  script(type='text/javascript').
    /* <![CDATA[ */
    var woocommerce_price_slider_params = {"currency_format_num_decimals":"0","currency_format_symbol":"$","currency_format_decimal_sep":".","currency_format_thousand_sep":",","currency_format":"%s%v"};
    /* ]]> */

  //- script(type='text/javascript' src='./assets/plugins/woocommerce/assets/js/frontend/price-slider.min.js')

  script(type='text/javascript' src='./assets/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js')
  script(type='text/javascript' src='./assets/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js')
  script(type='text/javascript' src='./assets/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js')
  script(type='text/javascript' src='./assets/plugins/woocommerce/assets/js/frontend/woocommerce.min.js')
  script(type='text/javascript' src='./assets/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js')
  script(type='text/javascript' src='./assets/plugins/woocommerce/assets/js/jquery-ui-touch-punch/jquery-ui-touch-punch.min.js')
  script(type='text/javascript' src='./assets/plugins/woocommerce/assets/js/accounting/accounting.min.js')

