.container.main-wrapper
  .margin-default
    .gallery-page.gallery-inner
      .container
        .row
          .col-lg-4.col-md-4.col-sm-6.col-ms-6.mdiv
            .item
              a.swipebox.photo(href='//bubulla.like-themes.com/wp-content/uploads/2018/02/butcher-1.jpg')
                img.attachment-bubulla-gallery.size-bubulla-gallery(width='755' height='500' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/butcher-1-755x500.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/butcher-1-755x500.jpg 755w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/butcher-1-128x84.jpg 128w' sizes='(max-width: 755px) 100vw, 755px')
                span.fa.fa-search
                span.ltx-border-top
                span.ltx-border-bottom
          .col-lg-4.col-md-4.col-sm-6.col-ms-6.mdiv
            .item
              a.swipebox.photo(href='//bubulla.like-themes.com/wp-content/uploads/2018/02/meat_10-1.jpg')
                img.attachment-bubulla-gallery.size-bubulla-gallery(width='755' height='500' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_10-1-755x500.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_10-1-755x500.jpg 755w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_10-1-128x84.jpg 128w' sizes='(max-width: 755px) 100vw, 755px')
                span.fa.fa-search
                span.ltx-border-top
                span.ltx-border-bottom
          .col-lg-4.col-md-4.col-sm-6.col-ms-6.mdiv
            .item
              a.swipebox.photo(href='//bubulla.like-themes.com/wp-content/uploads/2018/02/meat_09-1.jpg')
                img.attachment-bubulla-gallery.size-bubulla-gallery(width='755' height='500' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_09-1-755x500.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_09-1-755x500.jpg 755w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_09-1-128x84.jpg 128w' sizes='(max-width: 755px) 100vw, 755px')
                span.fa.fa-search
                span.ltx-border-top
                span.ltx-border-bottom
          .col-lg-4.col-md-4.col-sm-6.col-ms-6.mdiv
            .item
              a.swipebox.photo(href='//bubulla.like-themes.com/wp-content/uploads/2018/02/meat_08-1.jpg')
                img.attachment-bubulla-gallery.size-bubulla-gallery(width='755' height='500' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_08-1-755x500.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_08-1-755x500.jpg 755w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_08-1-128x84.jpg 128w' sizes='(max-width: 755px) 100vw, 755px')
                span.fa.fa-search
                span.ltx-border-top
                span.ltx-border-bottom
          .col-lg-4.col-md-4.col-sm-6.col-ms-6.mdiv
            .item
              a.swipebox.photo(href='//bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-1.jpg')
                img.attachment-bubulla-gallery.size-bubulla-gallery(width='755' height='500' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-1-755x500.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-1-755x500.jpg 755w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-1-128x84.jpg 128w' sizes='(max-width: 755px) 100vw, 755px')
                span.fa.fa-search
                span.ltx-border-top
                span.ltx-border-bottom
          .col-lg-4.col-md-4.col-sm-6.col-ms-6.mdiv
            .item
              a.swipebox.photo(href='//bubulla.like-themes.com/wp-content/uploads/2018/02/meat_06-1.jpg')
                img.attachment-bubulla-gallery.size-bubulla-gallery(width='755' height='500' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_06-1-755x500.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_06-1-755x500.jpg 755w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_06-1-128x84.jpg 128w' sizes='(max-width: 755px) 100vw, 755px')
                span.fa.fa-search
                span.ltx-border-top
                span.ltx-border-bottom
          .col-lg-4.col-md-4.col-sm-6.col-ms-6.mdiv
            .item
              a.swipebox.photo(href='//bubulla.like-themes.com/wp-content/uploads/2018/02/meat_05-1.jpg')
                img.attachment-bubulla-gallery.size-bubulla-gallery(width='755' height='500' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_05-1-755x500.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_05-1-755x500.jpg 755w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_05-1-128x84.jpg 128w' sizes='(max-width: 755px) 100vw, 755px')
                span.fa.fa-search
                span.ltx-border-top
                span.ltx-border-bottom
          .col-lg-4.col-md-4.col-sm-6.col-ms-6.mdiv
            .item
              a.swipebox.photo(href='//bubulla.like-themes.com/wp-content/uploads/2018/02/meat_04-1.jpg')
                img.attachment-bubulla-gallery.size-bubulla-gallery(width='755' height='500' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_04-1-755x500.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_04-1-755x500.jpg 755w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_04-1-128x84.jpg 128w' sizes='(max-width: 755px) 100vw, 755px')
                span.fa.fa-search
                span.ltx-border-top
                span.ltx-border-bottom
          .col-lg-4.col-md-4.col-sm-6.col-ms-6.mdiv
            .item
              a.swipebox.photo(href='//bubulla.like-themes.com/wp-content/uploads/2018/02/meat_03-1.jpg')
                img.attachment-bubulla-gallery.size-bubulla-gallery(width='755' height='500' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_03-1-755x500.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_03-1-755x500.jpg 755w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_03-1-128x84.jpg 128w' sizes='(max-width: 755px) 100vw, 755px')
                span.fa.fa-search
                span.ltx-border-top
                span.ltx-border-bottom
          .col-lg-4.col-md-4.col-sm-6.col-ms-6.mdiv
            .item
              a.swipebox.photo(href='//bubulla.like-themes.com/wp-content/uploads/2018/02/meat_02-1.jpg')
                img.attachment-bubulla-gallery.size-bubulla-gallery(width='755' height='500' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_02-1-755x500.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_02-1-755x500.jpg 755w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_02-1-128x84.jpg 128w' sizes='(max-width: 755px) 100vw, 755px')
                span.fa.fa-search
                span.ltx-border-top
                span.ltx-border-bottom
          .col-lg-4.col-md-4.col-sm-6.col-ms-6.mdiv
            .item
              a.swipebox.photo(href='//bubulla.like-themes.com/wp-content/uploads/2018/02/meat_01-1.jpg')
                img.attachment-bubulla-gallery.size-bubulla-gallery(width='755' height='500' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_01-1-755x500.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_01-1-755x500.jpg 755w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_01-1-128x84.jpg 128w' sizes='(max-width: 755px) 100vw, 755px')
                span.fa.fa-search
                span.ltx-border-top
                span.ltx-border-bottom
