.container.main-wrapper
  link(rel="stylesheet", href="./assets/plugins/js_composer/assets/css/js_composer_tta.min.css")
  // Content
  .inner-page.text-page.margin-default
    .row.centered
      .col-xl-12.col-xs-12.text-page
        article#post-2253.post-2253.page.type-page.status-publish.hentry
          #entry-div.entry-content.clearfix
            section.vc_section
              .vc_row.wpb_row.vc_row-fluid
                .wpb_column.vc_column_container.vc_col-sm-4
                  .vc_column-inner
                    .wpb_wrapper
                      #like_sc_header_1707886400.heading.header-subheader.align-left.subcolor-main.transform-default.theme-icon-second.icon-type-hidden.vc_custom_1575734997347.heading-tag-h4
                        h4.header.ltx-sr-id-like_sc_header_1707886400896763.ltx-sr.ltx-sr-effect-fade_in.ltx-sr-el-block.ltx-sr-delay-0.ltx-sr-duration-1000.ltx-sr-sequences-0(data-text='Every day help for our customers') Every day help for our customers
                      .wpb_text_column.wpb_content_element
                        .wpb_wrapper
                          p
                            | Phasellus porta turpis a lectus dapibus aliquet. Maecenas arcu est, consectetur eget ipsum ut, vulputate laoreet purus. Proin facilisis sem non turpis vulputate semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                          ul.disc
                            li Managment
                            li Analytics
                            li Consultation
                            li Engineering
                      .es-resp
                        .visible-xl(style='height: 32px;')
                        .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 32px;')
                        .visible-md(style='height: 32px;')
                        .visible-sm(style='height: 32px;')
                        .visible-ms(style='height: 32px;')
                        .visible-xs(style='height: 32px;')
                      .btn-wrap
                        a#like_sc_button_1922244149.btn.btn-main.color-hover-default(href='') More Info
                      #like_sc_header_23161831.heading.header-subheader.align-left.subcolor-main.transform-default.theme-icon-second.icon-type-hidden.heading-tag-h4
                        h4.header.ltx-sr-id-like_sc_header_2316183198823201.ltx-sr.ltx-sr-effect-fade_in.ltx-sr-el-block.ltx-sr-delay-0.ltx-sr-duration-1000.ltx-sr-sequences-0(data-text='If you need more help') If you need more help
                      .wpb_text_column.wpb_content_element
                        .wpb_wrapper
                          p
                            | Maecenas arcu est, consectetur eget ipsum ut, vulputate. Proin facilisis sem non turpis vulputate semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      .es-resp
                        .visible-xl(style='height: 32px;')
                        .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 32px;')
                        .visible-md(style='height: 32px;')
                        .visible-sm(style='height: 32px;')
                        .visible-ms(style='height: 32px;')
                        .visible-xs(style='height: 32px;')
                      ul#like_sc_block_icon_221697593.ltx-block-icon.icons-count-3.align-left.ltx-icon-color-main.ltx-icon-size-sm.ltx-header-color-default.ltx-icon-type-transparent.ltx-bg-color-transparent.layout-cols1.ltx-icon-h-right
                        li
                          a.in(href='#')
                            span.ltx-icon.fa.fa-phone.bg-transparent
                            h6.header  0(800) 890-90-609 
                        li
                          a.in(href='#')
                            span.ltx-icon.fa.fa-envelope.bg-transparent
                            h6.header  company@like-themes.com 
                        li
                          .in
                            span.ltx-icon.fa.fa-map-marker.bg-transparent
                            h6.header  29 Nicolas str, New York, 987597-50 
                .wpb_column.vc_column_container.vc_col-sm-8
                  .vc_column-inner
                    .wpb_wrapper
                      include ./_faq-accordion.pug