.container.main-wrapper
  // Content
  .inner-page.text-page.margin-default
    .row.centered
      .col-xl-12.col-xs-12.text-page
        article#post-2253.post-2253.page.type-page.status-publish.hentry
          #entry-div.entry-content.clearfix
            section.vc_section
              .vc_row.wpb_row.vc_row-fluid
                .wpb_column.vc_column_container.vc_col-sm-4
                  .vc_column-inner
                    .wpb_wrapper
                      #like_sc_header_1707886400.heading.header-subheader.align-left.subcolor-main.transform-default.theme-icon-second.icon-type-hidden.vc_custom_1575734997347.heading-tag-h4
                        h4.header.ltx-sr-id-like_sc_header_1707886400896763.ltx-sr.ltx-sr-effect-fade_in.ltx-sr-el-block.ltx-sr-delay-0.ltx-sr-duration-1000.ltx-sr-sequences-0(data-text='Every day help for our customers') Every day help for our customers
                      .wpb_text_column.wpb_content_element
                        .wpb_wrapper
                          p
                            | Phasellus porta turpis a lectus dapibus aliquet. Maecenas arcu est, consectetur eget ipsum ut, vulputate laoreet purus. Proin facilisis sem non turpis vulputate semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                          ul.disc
                            li Managment
                            li Analytics
                            li Consultation
                            li Engineering
                      .es-resp
                        .visible-xl(style='height: 32px;')
                        .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 32px;')
                        .visible-md(style='height: 32px;')
                        .visible-sm(style='height: 32px;')
                        .visible-ms(style='height: 32px;')
                        .visible-xs(style='height: 32px;')
                      .btn-wrap
                        a#like_sc_button_1922244149.btn.btn-main.color-hover-default(href='') More Info
                      #like_sc_header_23161831.heading.header-subheader.align-left.subcolor-main.transform-default.theme-icon-second.icon-type-hidden.heading-tag-h4
                        h4.header.ltx-sr-id-like_sc_header_2316183198823201.ltx-sr.ltx-sr-effect-fade_in.ltx-sr-el-block.ltx-sr-delay-0.ltx-sr-duration-1000.ltx-sr-sequences-0(data-text='If you need more help') If you need more help
                      .wpb_text_column.wpb_content_element
                        .wpb_wrapper
                          p
                            | Maecenas arcu est, consectetur eget ipsum ut, vulputate. Proin facilisis sem non turpis vulputate semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      .es-resp
                        .visible-xl(style='height: 32px;')
                        .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 32px;')
                        .visible-md(style='height: 32px;')
                        .visible-sm(style='height: 32px;')
                        .visible-ms(style='height: 32px;')
                        .visible-xs(style='height: 32px;')
                      ul#like_sc_block_icon_221697593.ltx-block-icon.icons-count-3.align-left.ltx-icon-color-main.ltx-icon-size-sm.ltx-header-color-default.ltx-icon-type-transparent.ltx-bg-color-transparent.layout-cols1.ltx-icon-h-right
                        li
                          a.in(href='#')
                            span.ltx-icon.fa.fa-phone.bg-transparent
                            h6.header  0(800) 890-90-609 
                        li
                          a.in(href='#')
                            span.ltx-icon.fa.fa-envelope.bg-transparent
                            h6.header  company@like-themes.com 
                        li
                          .in
                            span.ltx-icon.fa.fa-map-marker.bg-transparent
                            h6.header  29 Nicolas str, New York, 987597-50 
                .wpb_column.vc_column_container.vc_col-sm-8
                  .vc_column-inner
                    .wpb_wrapper
                      .vc_tta-container(data-vc-action='collapse')
                        .vc_general.vc_tta.vc_tta-accordion.vc_tta-color-grey.vc_tta-style-classic.vc_tta-shape-rounded.vc_tta-o-shape-group.vc_tta-controls-align-left
                          .vc_tta-panels-container
                            .vc_tta-panels
                              #1568282635582-254bfc81-ee9c.vc_tta-panel.vc_active(data-vc-content='.vc_tta-panel-body')
                                .vc_tta-panel-heading
                                  h4.vc_tta-panel-title.vc_tta-controls-icon-position-left
                                    a(href='#1568282635582-254bfc81-ee9c' data-vc-accordion='' data-vc-container='.vc_tta-container')
                                      span.vc_tta-title-text Is it possible to pay for an order with Visa and MasterCard payment cards?
                                      i.vc_tta-controls-icon.vc_tta-controls-icon-plus
                                .vc_tta-panel-body
                                  .wpb_text_column.wpb_content_element
                                    .wpb_wrapper
                                      ul.disc
                                        li
                                          | Sed tincidunt lacus risus, eget suscipit sapien feugiat ac. Maecenas vitae accumsan odio, at venenatis libero. Suspendisse viverra placerat eros in venenatis.
                                        li
                                          | Vestibulum interdum ex eu dignissim eleifend. Morbi molestie libero orci, volutpat pulvinar ipsum efficitur non. Aliquam ut ligula augue. Pellentesque vel velit nec turpis fermentum consectetur a non sapien.
                                        li
                                          | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus imperdiet, quam sit amet convallis tempor, nisl metus aliquet magna, et imperdiet nibh diam vel elit. Phasellus mollis ac augue sed varius.
                              #1568284227046-386cc7c0-717d.vc_tta-panel(data-vc-content='.vc_tta-panel-body')
                                .vc_tta-panel-heading
                                  h4.vc_tta-panel-title.vc_tta-controls-icon-position-left
                                    a(href='#1568284227046-386cc7c0-717d' data-vc-accordion='' data-vc-container='.vc_tta-container')
                                      span.vc_tta-title-text Is it possible to pay by credit card?
                                      i.vc_tta-controls-icon.vc_tta-controls-icon-plus
                                .vc_tta-panel-body
                                  .wpb_text_column.wpb_content_element
                                    .wpb_wrapper
                                      ul.disc
                                        li
                                          | Sed tincidunt lacus risus, eget suscipit sapien feugiat ac. Maecenas vitae accumsan odio, at venenatis libero. Suspendisse viverra placerat eros in venenatis.
                                        li
                                          | Vestibulum interdum ex eu dignissim eleifend. Morbi molestie libero orci, volutpat pulvinar ipsum efficitur non. Aliquam ut ligula augue. Pellentesque vel velit nec turpis fermentum consectetur a non sapien.
                                        li
                                          | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus imperdiet, quam sit amet convallis tempor, nisl metus aliquet magna, et imperdiet nibh diam vel elit. Phasellus mollis ac augue sed varius.
                              #1568284226766-7bb39ae6-4ed5.vc_tta-panel(data-vc-content='.vc_tta-panel-body')
                                .vc_tta-panel-heading
                                  h4.vc_tta-panel-title.vc_tta-controls-icon-position-left
                                    a(href='#1568284226766-7bb39ae6-4ed5' data-vc-accordion='' data-vc-container='.vc_tta-container')
                                      span.vc_tta-title-text What payment methods exist in your company?
                                      i.vc_tta-controls-icon.vc_tta-controls-icon-plus
                                .vc_tta-panel-body
                                  .wpb_text_column.wpb_content_element
                                    .wpb_wrapper
                                      ul.disc
                                        li
                                          | Sed tincidunt lacus risus, eget suscipit sapien feugiat ac. Maecenas vitae accumsan odio, at venenatis libero. Suspendisse viverra placerat eros in venenatis.
                                        li
                                          | Vestibulum interdum ex eu dignissim eleifend. Morbi molestie libero orci, volutpat pulvinar ipsum efficitur non. Aliquam ut ligula augue. Pellentesque vel velit nec turpis fermentum consectetur a non sapien.
                                        li
                                          | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus imperdiet, quam sit amet convallis tempor, nisl metus aliquet magna, et imperdiet nibh diam vel elit. Phasellus mollis ac augue sed varius.
                              #1568284226631-feb6af68-7330.vc_tta-panel(data-vc-content='.vc_tta-panel-body')
                                .vc_tta-panel-heading
                                  h4.vc_tta-panel-title.vc_tta-controls-icon-position-left
                                    a(href='#1568284226631-feb6af68-7330' data-vc-accordion='' data-vc-container='.vc_tta-container')
                                      span.vc_tta-title-text Can I return the product after purchase?
                                      i.vc_tta-controls-icon.vc_tta-controls-icon-plus
                                .vc_tta-panel-body
                                  .wpb_text_column.wpb_content_element
                                    .wpb_wrapper
                                      ul.disc
                                        li
                                          | Sed tincidunt lacus risus, eget suscipit sapien feugiat ac. Maecenas vitae accumsan odio, at venenatis libero. Suspendisse viverra placerat eros in venenatis.
                                        li
                                          | Vestibulum interdum ex eu dignissim eleifend. Morbi molestie libero orci, volutpat pulvinar ipsum efficitur non. Aliquam ut ligula augue. Pellentesque vel velit nec turpis fermentum consectetur a non sapien.
                                        li
                                          | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus imperdiet, quam sit amet convallis tempor, nisl metus aliquet magna, et imperdiet nibh diam vel elit. Phasellus mollis ac augue sed varius.
                              #1568284226489-ec9522b4-13e2.vc_tta-panel(data-vc-content='.vc_tta-panel-body')
                                .vc_tta-panel-heading
                                  h4.vc_tta-panel-title.vc_tta-controls-icon-position-left
                                    a(href='#1568284226489-ec9522b4-13e2' data-vc-accordion='' data-vc-container='.vc_tta-container')
                                      span.vc_tta-title-text How do I use a promotional code?
                                      i.vc_tta-controls-icon.vc_tta-controls-icon-plus
                                .vc_tta-panel-body
                                  .wpb_text_column.wpb_content_element
                                    .wpb_wrapper
                                      ul.disc
                                        li
                                          | Sed tincidunt lacus risus, eget suscipit sapien feugiat ac. Maecenas vitae accumsan odio, at venenatis libero. Suspendisse viverra placerat eros in venenatis.
                                        li
                                          | Vestibulum interdum ex eu dignissim eleifend. Morbi molestie libero orci, volutpat pulvinar ipsum efficitur non. Aliquam ut ligula augue. Pellentesque vel velit nec turpis fermentum consectetur a non sapien.
                                        li
                                          | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus imperdiet, quam sit amet convallis tempor, nisl metus aliquet magna, et imperdiet nibh diam vel elit. Phasellus mollis ac augue sed varius.
                              #1568284226339-4e5e5c4a-5269.vc_tta-panel(data-vc-content='.vc_tta-panel-body')
                                .vc_tta-panel-heading
                                  h4.vc_tta-panel-title.vc_tta-controls-icon-position-left
                                    a(href='#1568284226339-4e5e5c4a-5269' data-vc-accordion='' data-vc-container='.vc_tta-container')
                                      span.vc_tta-title-text What is the validity period of the gift certificate?
                                      i.vc_tta-controls-icon.vc_tta-controls-icon-plus
                                .vc_tta-panel-body
                                  .wpb_text_column.wpb_content_element
                                    .wpb_wrapper
                                      ul.disc
                                        li
                                          | Sed tincidunt lacus risus, eget suscipit sapien feugiat ac. Maecenas vitae accumsan odio, at venenatis libero. Suspendisse viverra placerat eros in venenatis.
                                        li
                                          | Vestibulum interdum ex eu dignissim eleifend. Morbi molestie libero orci, volutpat pulvinar ipsum efficitur non. Aliquam ut ligula augue. Pellentesque vel velit nec turpis fermentum consectetur a non sapien.
                                        li
                                          | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus imperdiet, quam sit amet convallis tempor, nisl metus aliquet magna, et imperdiet nibh diam vel elit. Phasellus mollis ac augue sed varius.
                              #1568284226196-3ccdbcf3-689a.vc_tta-panel(data-vc-content='.vc_tta-panel-body')
                                .vc_tta-panel-heading
                                  h4.vc_tta-panel-title.vc_tta-controls-icon-position-left
                                    a(href='#1568284226196-3ccdbcf3-689a' data-vc-accordion='' data-vc-container='.vc_tta-container')
                                      span.vc_tta-title-text What if the prepaid goods are not delivered?
                                      i.vc_tta-controls-icon.vc_tta-controls-icon-plus
                                .vc_tta-panel-body
                                  .wpb_text_column.wpb_content_element
                                    .wpb_wrapper
                                      ul.disc
                                        li
                                          | Sed tincidunt lacus risus, eget suscipit sapien feugiat ac. Maecenas vitae accumsan odio, at venenatis libero. Suspendisse viverra placerat eros in venenatis.
                                        li
                                          | Vestibulum interdum ex eu dignissim eleifend. Morbi molestie libero orci, volutpat pulvinar ipsum efficitur non. Aliquam ut ligula augue. Pellentesque vel velit nec turpis fermentum consectetur a non sapien.
                                        li
                                          | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus imperdiet, quam sit amet convallis tempor, nisl metus aliquet magna, et imperdiet nibh diam vel elit. Phasellus mollis ac augue sed varius.
                              #1568284226049-95265b22-84ac.vc_tta-panel(data-vc-content='.vc_tta-panel-body')
                                .vc_tta-panel-heading
                                  h4.vc_tta-panel-title.vc_tta-controls-icon-position-left
                                    a(href='#1568284226049-95265b22-84ac' data-vc-accordion='' data-vc-container='.vc_tta-container')
                                      span.vc_tta-title-text Where and how can I exchange or refund?
                                      i.vc_tta-controls-icon.vc_tta-controls-icon-plus
                                .vc_tta-panel-body
                                  .wpb_text_column.wpb_content_element
                                    .wpb_wrapper
                                      ul.disc
                                        li
                                          | Sed tincidunt lacus risus, eget suscipit sapien feugiat ac. Maecenas vitae accumsan odio, at venenatis libero. Suspendisse viverra placerat eros in venenatis.
                                        li
                                          | Vestibulum interdum ex eu dignissim eleifend. Morbi molestie libero orci, volutpat pulvinar ipsum efficitur non. Aliquam ut ligula augue. Pellentesque vel velit nec turpis fermentum consectetur a non sapien.
                                        li
                                          | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus imperdiet, quam sit amet convallis tempor, nisl metus aliquet magna, et imperdiet nibh diam vel elit. Phasellus mollis ac augue sed varius.
                              #1568284225685-b895cc46-5e9f.vc_tta-panel(data-vc-content='.vc_tta-panel-body')
                                .vc_tta-panel-heading
                                  h4.vc_tta-panel-title.vc_tta-controls-icon-position-left
                                    a(href='#1568284225685-b895cc46-5e9f' data-vc-accordion='' data-vc-container='.vc_tta-container')
                                      span.vc_tta-title-text Is it possible to pay for an order with Visa and MasterCard payment cards?
                                      i.vc_tta-controls-icon.vc_tta-controls-icon-plus
                                .vc_tta-panel-body
                                  .wpb_text_column.wpb_content_element
                                    .wpb_wrapper
                                      ul.disc
                                        li
                                          | Sed tincidunt lacus risus, eget suscipit sapien feugiat ac. Maecenas vitae accumsan odio, at venenatis libero. Suspendisse viverra placerat eros in venenatis.
                                        li
                                          | Vestibulum interdum ex eu dignissim eleifend. Morbi molestie libero orci, volutpat pulvinar ipsum efficitur non. Aliquam ut ligula augue. Pellentesque vel velit nec turpis fermentum consectetur a non sapien.
                                        li
                                          | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus imperdiet, quam sit amet convallis tempor, nisl metus aliquet magna, et imperdiet nibh diam vel elit. Phasellus mollis ac augue sed varius.
                              #1568284224811-fae3d4fc-25e6.vc_tta-panel(data-vc-content='.vc_tta-panel-body')
                                .vc_tta-panel-heading
                                  h4.vc_tta-panel-title.vc_tta-controls-icon-position-left
                                    a(href='#1568284224811-fae3d4fc-25e6' data-vc-accordion='' data-vc-container='.vc_tta-container')
                                      span.vc_tta-title-text Is it possible to pay by credit card?
                                      i.vc_tta-controls-icon.vc_tta-controls-icon-plus
                                .vc_tta-panel-body
                                  .wpb_text_column.wpb_content_element
                                    .wpb_wrapper
                                      ul.disc
                                        li
                                          | Sed tincidunt lacus risus, eget suscipit sapien feugiat ac. Maecenas vitae accumsan odio, at venenatis libero. Suspendisse viverra placerat eros in venenatis.
                                        li
                                          | Vestibulum interdum ex eu dignissim eleifend. Morbi molestie libero orci, volutpat pulvinar ipsum efficitur non. Aliquam ut ligula augue. Pellentesque vel velit nec turpis fermentum consectetur a non sapien.
                                        li
                                          | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus imperdiet, quam sit amet convallis tempor, nisl metus aliquet magna, et imperdiet nibh diam vel elit. Phasellus mollis ac augue sed varius.
                              #1568284293268-17744cba-3217.vc_tta-panel(data-vc-content='.vc_tta-panel-body')
                                .vc_tta-panel-heading
                                  h4.vc_tta-panel-title.vc_tta-controls-icon-position-left
                                    a(href='#1568284293268-17744cba-3217' data-vc-accordion='' data-vc-container='.vc_tta-container')
                                      span.vc_tta-title-text What payment methods exist in your company?
                                      i.vc_tta-controls-icon.vc_tta-controls-icon-plus
                                .vc_tta-panel-body
                                  .wpb_text_column.wpb_content_element
                                    .wpb_wrapper
                                      ul.disc
                                        li
                                          | Sed tincidunt lacus risus, eget suscipit sapien feugiat ac. Maecenas vitae accumsan odio, at venenatis libero. Suspendisse viverra placerat eros in venenatis.
                                        li
                                          | Vestibulum interdum ex eu dignissim eleifend. Morbi molestie libero orci, volutpat pulvinar ipsum efficitur non. Aliquam ut ligula augue. Pellentesque vel velit nec turpis fermentum consectetur a non sapien.
                                        li
                                          | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus imperdiet, quam sit amet convallis tempor, nisl metus aliquet magna, et imperdiet nibh diam vel elit. Phasellus mollis ac augue sed varius.
                              #1568284292782-b6778583-e413.vc_tta-panel(data-vc-content='.vc_tta-panel-body')
                                .vc_tta-panel-heading
                                  h4.vc_tta-panel-title.vc_tta-controls-icon-position-left
                                    a(href='#1568284292782-b6778583-e413' data-vc-accordion='' data-vc-container='.vc_tta-container')
                                      span.vc_tta-title-text Can I return the product after purchase?
                                      i.vc_tta-controls-icon.vc_tta-controls-icon-plus
                                .vc_tta-panel-body
                                  .wpb_text_column.wpb_content_element
                                    .wpb_wrapper
                                      ul.disc
                                        li
                                          | Sed tincidunt lacus risus, eget suscipit sapien feugiat ac. Maecenas vitae accumsan odio, at venenatis libero. Suspendisse viverra placerat eros in venenatis.
                                        li
                                          | Vestibulum interdum ex eu dignissim eleifend. Morbi molestie libero orci, volutpat pulvinar ipsum efficitur non. Aliquam ut ligula augue. Pellentesque vel velit nec turpis fermentum consectetur a non sapien.
                                        li
                                          | Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus imperdiet, quam sit amet convallis tempor, nisl metus aliquet magna, et imperdiet nibh diam vel elit. Phasellus mollis ac augue sed varius.




