header.page-header.ltx-bg-parallax-enabled
    .container
      span.ltx-before
      .ltx-header-h1-wrapper
        h1.header Cart
      include ../../components/common/breadCrumb
      span.ltx-after
      .ltx-header-icon
