.wpb_column.vc_column_container.vc_col-sm-12
  .vc_column-inner
    .wpb_wrapper
      .es-resp
        .visible-xl(style='height: 76px;')
        .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 76px;')
        .visible-md(style='height: 76px;')
        .visible-sm(style='height: 76px;')
        .visible-ms(style='height: 76px;')
        .visible-xs(style='height: 76px;')
      ul#like_sc_block_icon_2114523593.ltx-block-icon.icons-count-6.align-center.ltx-icon-color-white.ltx-icon-size-lg.ltx-header-color-black.ltx-icon-type-circle.ltx-bg-color-main.layout-cols6.ltx-icon-top.row.centered
        li.col-xl-2.col-lg-4.col-md-4.col-sm-4.col-ms-6.col-xs-6
          a.in(href='#')
            span.ltx-icon.icon-chicken.bg-main
            h6.header  Chicken 
        li.col-xl-2.col-lg-4.col-md-4.col-sm-4.col-ms-6.col-xs-6
          a.in(href='#')
            span.ltx-icon.icon-cow.bg-main
            h6.header  Beef 
        li.col-xl-2.col-lg-4.col-md-4.col-sm-4.col-ms-6.col-xs-6
          a.in(href='#')
            span.ltx-icon.icon-pig-1.bg-main
            h6.header  Pork 
        li.col-xl-2.col-lg-4.col-md-4.col-sm-4.col-ms-6.col-xs-6
          a.in(href='#')
            span.ltx-icon.icon-rabbit.bg-main
            h6.header  Rabbit 
        li.col-xl-2.col-lg-4.col-md-4.col-sm-4.col-ms-6.col-xs-6
          a.in(href='#')
            span.ltx-icon.icon-lamb.bg-main
            h6.header  Sheep 
        li.col-xl-2.col-lg-4.col-md-4.col-sm-4.col-ms-6.col-xs-6
          a.in(href='#')
            span.ltx-icon.icon-horse-head.bg-main
            h6.header  Horse 
      .es-resp
        .visible-xl(style='height: 70px;')
        .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 70px;')
        .visible-md(style='height: 70px;')
        .visible-sm(style='height: 70px;')
        .visible-ms(style='height: 70px;')
        .visible-xs(style='height: 70px;')
