.vc_row.wpb_row.vc_row-fluid.vc_custom_1574622672299.vc_row-has-fill.bg-color-black.ltx-overlay.bg-overlay-black.bg-parallax.ltx-bg-parallax-enabled.ltx-sr.ltx-sr-effect-fade_in.ltx-sr-id-1231114738.ltx-sr-el-list_el.ltx-sr-delay-200.ltx-sr-duration-500.ltx-sr-sequences-100(data-vc-full-width='true' data-vc-full-width-init='false' class='ltx-bg-parallax-value-0.3')
  .wpb_column.vc_column_container.vc_col-sm-12
    .vc_column-inner
      .wpb_wrapper
        .es-resp
          .visible-xl(style='height: 130px;')
          .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 100px;')
          .visible-md(style='height: 100px;')
          .visible-sm(style='height: 64px;')
          .visible-ms(style='height: 64px;')
          .visible-xs(style='height: 64px;')
        ul#like_sc_block_icon_374851549.ltx-block-icon.icons-count-4.align-center.ltx-icon-color-second.ltx-icon-size-xl.ltx-header-color-default.ltx-icon-type-transparent.ltx-bg-color-transparent.layout-cols4.ltx-icon-top.row.centered
          li.col-lg-3.col-md-6.col-sm-6.col-ms-6.col-xs-6
            .in
              span.ltx-icon.icon-pig.bg-transparent
              h6.header
                | Only organic
                br
                | nutrition
          li.col-lg-3.col-md-6.col-sm-6.col-ms-6.col-xs-6
            .in
              span.ltx-icon.icon-box.bg-transparent
              h6.header
                | Convenient vacuum
                br
                | packaging
          li.col-lg-3.col-md-6.col-sm-6.col-ms-6.col-xs-6
            .in
              span.ltx-icon.icon-certification.bg-transparent
              h6.header
                | International quality
                br
                | certificates
          li.col-lg-3.col-md-6.col-sm-6.col-ms-6.col-xs-6
            .in
              span.ltx-icon.icon-cleaver-knife.bg-transparent
              h6.header
                | Professional
                br
                | meat cutting
        .es-resp
          .visible-xl(style='height: 190px;')
          .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 190px;')
          .visible-md(style='height: 190px;')
          .visible-sm(style='height: 120px;')
          .visible-ms(style='height: 120px;')
          .visible-xs(style='height: 120px;')
.vc_row-full-width.vc_clearfix
.vc_row.wpb_row.vc_row-fluid.text-align-center-sm-ms
  .wpb_column.vc_column_container.vc_col-sm-12.vc_col-md-4
    .vc_column-inner
      .wpb_wrapper
        #like_sc_header_656455683.heading.default.align-left.subcolor-main.transform-default.icon-type-hidden.heading-tag-h5
          h5.header.ltx-sr-id-like_sc_header_656455683914791323.ltx-sr.ltx-sr-effect-fade_in.ltx-sr-el-block.ltx-sr-delay-0.ltx-sr-duration-1000.ltx-sr-sequences-0(data-text='Our farm has been producing organic meat since 1987. <span> We are trusted </span> by many clients from all over the country.')
            | Our farm has been producing organic meat since 1987. 
            span  We are trusted 
            |  by many clients from all over the country.
        .es-resp
          .visible-xl(style='height: 0px;')
          .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 0px;')
          .visible-md(style='height: 0px;')
          .visible-sm(style='height: 32px;')
          .visible-ms(style='height: 32px;')
          .visible-xs(style='height: 32px;')
  .ltx-col-countup.wpb_column.vc_column_container.vc_col-sm-12.vc_col-md-8.vc_col-has-fill.bg-color-theme_color
    .vc_column-inner.vc_custom_1574623635792
      .wpb_wrapper
        .es-resp
          .visible-xl(style='height: 90px;')
          .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 90px;')
          .visible-md(style='height: 80px;')
          .visible-sm(style='height: 32px;')
          .visible-ms(style='height: 32px;')
          .visible-xs(style='height: 32px;')
        #like_sc_header_2069064254.ltx-countup.layout-default.animation-default.layout-default
          .row
            .col-md-6.col-xs-12.col-sm-6.col-ms-6.col-xs-12.center-flex.countUp-wrap
              .countUp-item.item
                h2.header
                  span#like_sc_header_2069064254-0.countUp 245
                  | +
                h4.subheader tons of meat every month
            .col-md-6.col-xs-12.col-sm-6.col-ms-6.col-xs-12.center-flex.countUp-wrap
              .countUp-item.item
                h2.header
                  span#like_sc_header_2069064254-1.countUp 98
                  | +
                h4.subheader types of meat products
        .es-resp
          .visible-xl(style='height: 90px;')
          .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 90px;')
          .visible-md(style='height: 80px;')
          .visible-sm(style='height: 32px;')
          .visible-ms(style='height: 32px;')
          .visible-xs(style='height: 32px;')

