.vc_row.wpb_row.vc_row-fluid.displaced-top(data-vc-full-width='true' data-vc-full-width-init='false' data-vc-stretch-content='true')
  .wpb_column.vc_column_container.vc_col-sm-12
    .vc_column-inner
      .wpb_wrapper
        .es-resp
          .visible-xl(style='height: 36px;')
          .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 36px;')
          .visible-md(style='height: 36px;')
          .visible-sm(style='height: 36px;')
          .visible-ms(style='height: 36px;')
          .visible-xs(style='height: 36px;')
        #like_sc_header_139304043.heading.header-subheader.align-center.color-white.subcolor-second.transform-default.has-subheader.theme-icon-second.icon-type-hidden.vc_custom_1574867130861.heading-tag-h2
          h6.subheader.ltx-sr-id-like_sc_header_139304043785221350.ltx-sr.ltx-sr-effect-slide_from_bottom.ltx-sr-el-block.ltx-sr-delay-200.ltx-sr-duration-500.ltx-sr-sequences-50 Testimonials
          h2.header.ltx-sr-id-like_sc_header_1393040431865721027.ltx-sr.ltx-sr-effect-fade_in.ltx-sr-el-block.ltx-sr-delay-0.ltx-sr-duration-1000.ltx-sr-sequences-0(data-text='What our clients say') What our clients say
        .ltx-swiper-slider-wrapper
          #like_sc_testimonials_710143026.ltx-swiper-slider.swiper-container.ltx-testimonials-list.layout-.font-weight-bold(data-space-between='30' data-arrows='sides-outside' data-autoplay='4000' data-autoplay-interaction='1' data-loop='1' data-speed='1000' data-effect='slide' data-slides-per-group='1' data-breakpoints='3;3;2;;1;')
            .swiper-wrapper
              .ltx-item.swiper-slide
                include ./_client-say-item.pug