.ltx-inner
  a(href='#')
    img(src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_09-110x110.jpg' alt='Veal tenderloin')
  h4.ltx-price 29$
  a(href='#')
    h4.ltx-header Veal tenderloin
  h5.ltx-subheader 500g, vacuum package
  h4.ltx-price.price-hidden 29$
  p In sagittis mauris eget velit semper porta. Etiam placerat viverra