

.wpb_column.vc_column_container.vc_col-sm-12
  .vc_column-inner
    .wpb_wrapper
      #like_sc_zoom_slider_2077546932.slider-zoom.zoom-default.zoom-style-default.zoom-origin-center-center.ltx-zs-overlay-black.bullets-false.zoom-content-effect-fade-top.zoom-arrows-true.zoom-margin-top(data-zs-prev='' data-zs-next='' data-zs-overlay='black' data-zs-initzoom='1.2' data-zs-speed='20000' data-zs-interval='6500' data-zs-switchspeed='7000' data-zs-arrows='true' data-zs-bullets='false' data-zs-src='["http:\/\/bubulla.like-themes.com\/wp-content\/uploads\/2018\/02\/SLIDE_01.jpg","http:\/\/bubulla.like-themes.com\/wp-content\/uploads\/2018\/02\/SLIDE_02.jpg","http:\/\/bubulla.like-themes.com\/wp-content\/uploads\/2018\/02\/SLIDE_03.jpg"]')
        .container.ltx-zs-slider-wrapper
          .ltx-zs-slider-inner.inited.visible.ltx-zs-slide-0(data-index='0')
            include ./_full-screen-slider-item.pug
          .ltx-zs-slider-inner.ltx-zs-slide-1(data-index='1')
            include ./_full-screen-slider-item.pug
          .ltx-zs-slider-inner.ltx-zs-slide-2(data-index='2')
            include ./_full-screen-slider-item.pug