.vc_row.wpb_row.vc_row-fluid.vc_row-o-content-bottom.vc_row-flex.text-align-center
  .wpb_column.vc_column_container.vc_col-sm-12.vc_col-lg-12.vc_col-md-12
    .vc_column-inner
      .wpb_wrapper
        .es-resp
          .visible-xl(style='height: 210px;')
          .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 190px;')
          .visible-md(style='height: 100px;')
          .visible-sm(style='height: 100px;')
          .visible-ms(style='height: 100px;')
          .visible-xs(style='height: 100px;')
        #like_sc_header_40295285.heading.heading-large.header-subheader.align-center.color-white.subcolor-second.transform-default.has-subheader.theme-icon-second.icon-type-hidden.heading-tag-h1
          h6.subheader organic products
          h1.header(data-text='Raw Meat Farm') Raw Meat Farm
        .es-resp
          .visible-xl(style='height: 20px;')
          .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 20px;')
          .visible-md(style='height: 20px;')
          .visible-sm(style='height: 20px;')
          .visible-ms(style='height: 20px;')
          .visible-xs(style='height: 20px;')
        #like_sc_content_width_1237504489.ltx-content-width.ltx-col-align-center.ltx-block-align-left(style='max-width: 1000px')
          .ltx-wrapper
            .wpb_text_column.wpb_content_element
              .wpb_wrapper
                p
                  span.text-md
                    | Duis eu commodo massa. Integer volutpat imperdiet libero vel laoreet. Sed euismod a ligula quis suscipit. Suspendisse potenti. Proin porta tristique urna, id commodo.
        .es-resp
          .visible-xl(style='height: 90px;')
          .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 90px;')
          .visible-md(style='height: 90px;')
          .visible-sm(style='height: 90px;')
          .visible-ms(style='height: 48px;')
          .visible-xs(style='height: 48px;')
        .btn-wrap
          a#like_sc_button_2056693384.btn.btn-lg.btn-main.color-hover-white(href='') Read more
        .es-resp
          .visible-xl(style='height: 250px;')
          .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 250px;')
          .visible-md(style='height: 180px;')
          .visible-sm(style='height: 180px;')
          .visible-ms(style='height: 180px;')
          .visible-xs(style='height: 180px;')
