.inner-page.text-page.margin-disabled
  .row.centered
    .col-xl-12.col-xs-12.text-page
      article#post-7925.post-7925.page.type-page.status-publish.hentry
        #entry-div.entry-content.clearfix
          .vc_row.wpb_row.vc_row-fluid.vc_row-no-padding.bg-color-black.displaced-top(data-vc-full-width='true' data-vc-full-width-init='false' data-vc-stretch-content='true')
              include ./_full-screen-slider.pug
          .vc_row-full-width.vc_clearfix

          section.vc_section(data-vc-full-width='true' data-vc-full-width-init='false')
            .vc_row.wpb_row.vc_row-fluid.vc_custom_1577029878028.vc_row-has-fill.ltx-sr.ltx-sr-effect-fade_in.ltx-sr-id-2040344668.ltx-sr-el-list_el.ltx-sr-delay-200.ltx-sr-duration-500.ltx-sr-sequences-100
              include ./_category-bar.pug
          .vc_row-full-width.vc_clearfix
        
        
          section.vc_section(data-vc-full-width='true' data-vc-full-width-init='false')
              include ./_download-price.pug
            
          
          .vc_row-full-width.vc_clearfix
              include ./_certificate.pug

         
         
          section.vc_section
            include ./_online-store.pug

          section.vc_section.text-align-center-sm-ms(data-vc-full-width='true' data-vc-full-width-init='false')
            include ./_quality.pug
          .vc_row-full-width.vc_clearfix
          section.vc_section.vc_custom_1577038215740.vc_section-has-fill
            .vc_row.wpb_row.vc_row-fluid
              .wpb_column.vc_column_container.vc_col-sm-12
                .vc_column-inner
                  .wpb_wrapper
                    .es-resp
                      .visible-xl(style='height: 120px;')
                      .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 120px;')
                      .visible-md(style='height: 120px;')
                      .visible-sm(style='height: 120px;')
                      .visible-ms(style='height: 120px;')
                      .visible-xs(style='height: 120px;')
            .vc_row.wpb_row.vc_row-fluid.vc_custom_1577038285278.vc_row-has-fill.bg-pos-center-top(data-vc-full-width='true' data-vc-full-width-init='false')
              include ./_product-price.pug
            .vc_row-full-width.vc_clearfix
          section.vc_section.ltx-testimonials-overflow.vc_custom_1574869749050.vc_section-has-fill.bg-color-black.ltx-overlay.bg-overlay-black.displaced-top.bg-parallax.ltx-bg-parallax-enabled(data-vc-full-width='true' data-vc-full-width-init='false' class='ltx-bg-parallax-value-0.2')
            include ./_client-say.pug
            .vc_row-full-width.vc_clearfix
          .vc_row-full-width.vc_clearfix
         
          section.vc_section
            .vc_row.wpb_row.vc_row-fluid
              include ./_recent-articles.pug
              