.vc_row.wpb_row.vc_row-fluid
  .wpb_column.vc_column_container.vc_col-sm-12
    .vc_column-inner
      .wpb_wrapper
        .es-resp
          .visible-xl(style='height: 64px;')
          .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 64px;')
          .visible-md(style='height: 64px;')
          .visible-sm(style='height: 64px;')
          .visible-ms(style='height: 32px;')
          .visible-xs(style='height: 32px;')
        #like_sc_header_23804104.heading.header-subheader.align-center.subcolor-main.transform-default.has-subheader.theme-icon-second.icon-type-hidden.heading-tag-h2
          h6.subheader.ltx-sr-id-like_sc_header_23804104491749790.ltx-sr.ltx-sr-effect-slide_from_bottom.ltx-sr-el-block.ltx-sr-delay-200.ltx-sr-duration-500.ltx-sr-sequences-50 Online Store
          h2.header.ltx-sr-id-like_sc_header_2380410427218012.ltx-sr.ltx-sr-effect-fade_in.ltx-sr-el-block.ltx-sr-delay-0.ltx-sr-duration-1000.ltx-sr-sequences-0(data-text='Popular products') Popular products
        .es-resp
          .visible-xl(style='height: 24px;')
          .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 24px;')
          .visible-md(style='height: 24px;')
          .visible-sm(style='height: 24px;')
          .visible-ms(style='height: 24px;')
          .visible-xs(style='height: 24px;')
        .ltx-products-sc-wrapper
          .woocommerce
            ul.products.columns-4.ltx-products-sc.ltx-products-sc-simple.ltx-products-bg-white
              include ../../common/productCard.pug
              include ../../common/productCard.pug
              include ../../common/productCard.pug
              include ../../common/productCard.pug
        .es-resp
          .visible-xl(style='height: 132px;')
          .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 132px;')
          .visible-md(style='height: 132px;')
          .visible-sm(style='height: 132px;')
          .visible-ms(style='height: 70px;')
          .visible-xs(style='height: 70px;')

