.wpb_column.vc_column_container.vc_col-sm-12
  .vc_column-inner
    .wpb_wrapper
      #like_sc_header_1675136274.heading.header-subheader.align-center.subcolor-main.transform-default.has-subheader.theme-icon-second.icon-type-hidden.vc_custom_1577038165559.heading-tag-h2
        h6.subheader.ltx-sr-id-like_sc_header_1675136274231429627.ltx-sr.ltx-sr-effect-slide_from_bottom.ltx-sr-el-block.ltx-sr-delay-200.ltx-sr-duration-500.ltx-sr-sequences-50 Meat assortment
        h2.header.ltx-sr-id-like_sc_header_1675136274312194027.ltx-sr.ltx-sr-effect-fade_in.ltx-sr-el-block.ltx-sr-delay-0.ltx-sr-duration-1000.ltx-sr-sequences-0(data-text='Products price') Products price
      .menu.ltx-menu-sc.ltx-filter-container.ltx-menu-layout-scroll
        ul.cats.ltx-tabs-cats.menu-filter.menu-filter-plain
          li.ltx-cat(data-filter='366')
            span.ltx-item Beaf meat
          li.ltx-cat(data-filter='353')
            span.ltx-item Chicken meat
          li.ltx-cat(data-filter='365')
            span.ltx-item Pork meat
          li.ltx-cat(data-filter='367')
            span.ltx-item Rabbit meat
        .ltx-items
          .row
            article.ltx-filter-item.ltx-filter-id-365.col-lg-6.col-md-6
              include ./_filter-product-card.pug
            article.ltx-filter-item.ltx-filter-id-366.ltx-filter-item.ltx-filter-id-353.ltx-filter-item.ltx-filter-id-367.col-lg-6.col-md-6
              include ./_filter-product-card.pug
            article.ltx-filter-item.ltx-filter-id-366.ltx-filter-item.ltx-filter-id-353.ltx-filter-item.ltx-filter-id-367.col-lg-6.col-md-6
              include ./_filter-product-card.pug
            article.ltx-filter-item.ltx-filter-id-366.ltx-filter-item.ltx-filter-id-365.col-lg-6.col-md-6
              include ./_filter-product-card.pug
            article.ltx-filter-item.ltx-filter-id-366.ltx-filter-item.ltx-filter-id-365.ltx-filter-item.ltx-filter-id-367.col-lg-6.col-md-6
              include ./_filter-product-card.pug
            article.col-lg-6.col-md-6
              include ./_filter-product-card.pug
            article.ltx-filter-item.ltx-filter-id-366.ltx-filter-item.ltx-filter-id-353.ltx-filter-item.ltx-filter-id-365.ltx-filter-item.ltx-filter-id-367.col-lg-6.col-md-6
              include ./_filter-product-card.pug
            article.ltx-filter-item.ltx-filter-id-367.col-lg-6.col-md-6
              include ./_filter-product-card.pug
            article.ltx-filter-item.ltx-filter-id-353.ltx-filter-item.ltx-filter-id-365.col-lg-6.col-md-6
              include ./_filter-product-card.pug
            article.ltx-filter-item.ltx-filter-id-353.ltx-filter-item.ltx-filter-id-365.ltx-filter-item.ltx-filter-id-367.col-lg-6.col-md-6
              include ./_filter-product-card.pug
            article.ltx-filter-item.ltx-filter-id-366.ltx-filter-item.ltx-filter-id-353.col-lg-6.col-md-6
              include ./_filter-product-card.pug
            article.ltx-filter-item.ltx-filter-id-366.ltx-filter-item.ltx-filter-id-367.col-lg-6.col-md-6
              include ./_filter-product-card.pug
            article.ltx-filter-item.ltx-filter-id-353.col-lg-6.col-md-6
              include ./_filter-product-card.pug
            article.ltx-filter-item.ltx-filter-id-365.col-lg-6.col-md-6
              include ./_filter-product-card.pug
      .es-resp
        .visible-xl(style='height: 130px;')
        .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 130px;')
        .visible-md(style='height: 130px;')
        .visible-sm(style='height: 130px;')
        .visible-ms(style='height: 64px;')
        .visible-xs(style='height: 64px;')
