.vc_row.wpb_row.vc_row-fluid.vc_row-no-padding.vc_row-o-equal-height.vc_row-flex.bg-color-gray(data-vc-full-width='true' data-vc-full-width-init='false' data-vc-stretch-content='true')
  .wpb_column.vc_column_container.vc_col-sm-6.vc_col-lg-6.vc_col-md-5.vc_hidden-sm.vc_hidden-xs.vc_col-has-fill.ltx-mouse-move
    .vc_column-inner.vc_custom_1577112637628
      .wpb_wrapper
        #like_sc_header_150531082.heading.header-subheader.align-left.color-second.subcolor-white.transform-default.has-subheader.theme-icon-second.icon-type-hidden.ltx-floating-header.heading-tag-h2
          h6.subheader.ltx-sr-id-like_sc_header_1505310821028404987.ltx-sr.ltx-sr-effect-slide_from_bottom.ltx-sr-el-block.ltx-sr-delay-200.ltx-sr-duration-500.ltx-sr-sequences-50 100%
          h2.header.ltx-sr-id-like_sc_header_1505310821670322985.ltx-sr.ltx-sr-effect-fade_in.ltx-sr-el-block.ltx-sr-delay-0.ltx-sr-duration-1000.ltx-sr-sequences-0(data-text='proven quality') proven quality
  .wpb_column.vc_column_container.vc_col-sm-12.vc_col-lg-6.vc_col-md-7.vc_col-has-fill.bg-color-gray
    .vc_column-inner.vc_custom_1574702720696
      .wpb_wrapper
        .es-resp
          .visible-xl(style='height: 32px;')
          .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 32px;')
          .visible-md(style='height: 32px;')
          .visible-sm(style='height: 24px;')
          .visible-ms(style='height: 24px;')
          .visible-xs(style='height: 24px;')
        #like_sc_content_width_1265927132.ltx-content-width.ltx-quality.ltx-col-align-left.ltx-block-align-left(style='max-width: 580px')
          .ltx-wrapper
            #like_sc_header_559293888.heading.header-subheader.align-left.subcolor-main.transform-default.has-subheader.theme-icon-second.icon-type-hidden.heading-tag-h2
              h6.subheader.ltx-sr-id-like_sc_header_5592938881212782522.ltx-sr.ltx-sr-effect-slide_from_bottom.ltx-sr-el-block.ltx-sr-delay-200.ltx-sr-duration-500.ltx-sr-sequences-50 technologies
              h2.header.ltx-sr-id-like_sc_header_5592938881920515783.ltx-sr.ltx-sr-effect-fade_in.ltx-sr-el-block.ltx-sr-delay-0.ltx-sr-duration-1000.ltx-sr-sequences-0(data-text='Quality monitoring') Quality monitoring
            .es-resp
              .visible-xl(style='height: 32px;')
              .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 32px;')
              .visible-md(style='height: 32px;')
              .visible-sm(style='height: 32px;')
              .visible-ms(style='height: 32px;')
              .visible-xs(style='height: 32px;')
            ul#like_sc_block_icon_1417888162.ltx-block-icon.icons-count-3.align-center.ltx-icon-color-main.ltx-icon-size-default.ltx-header-color-default.ltx-icon-type-transparent.ltx-bg-color-transparent.layout-cols3.ltx-icon-top.row.centered
              li.col-lg-4.col-md-4.col-sm-4.col-ms-4.col-xs-6
                .in
                  span.ltx-icon.icon-temperature.bg-transparent
                  h6.header
                    | Temperature
                    br
                    | Control
              li.col-lg-4.col-md-4.col-sm-4.col-ms-4.col-xs-6
                .in
                  span.ltx-icon.icon-microscope.bg-transparent
                  h6.header
                    | Laboratory
                    br
                    | Testing
              li.col-lg-4.col-md-4.col-sm-4.col-ms-4.col-xs-6
                .in
                  span.ltx-icon.icon-chemical.bg-transparent
                  h6.header
                    | Antibacterial
                    br
                    | Treatment
            .es-resp
              .visible-xl(style='height: 32px;')
              .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 32px;')
              .visible-md(style='height: 32px;')
              .visible-sm(style='height: 32px;')
              .visible-ms(style='height: 32px;')
              .visible-xs(style='height: 32px;')
            .wpb_text_column.wpb_content_element
              .wpb_wrapper
                p
                  | Cras non dui id ex mattis vehicula. Nullam posuere ligula non libero mollis, non ornare sapien rutrum. Quisque vitae risus venenatis, dignissim felis id, vulputate nisl. Praesent sed felis aliquam, ullamcorper tellus.
            .es-resp
              .visible-xl(style='height: 52px;')
              .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 52px;')
              .visible-md(style='height: 52px;')
              .visible-sm(style='height: 52px;')
              .visible-ms(style='height: 32px;')
              .visible-xs(style='height: 32px;')
            .btn-wrap
              a#like_sc_button_2098488448.btn.btn-lg.btn-second.color-hover-main(href='') Read more
        .es-resp
          .visible-xl(style='height: 110px;')
          .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 110px;')
          .visible-md(style='height: 110px;')
          .visible-sm(style='height: 100px;')
          .visible-ms(style='height: 100px;')
          .visible-xs(style='height: 100px;')
.vc_row-full-width.vc_clearfix