.wpb_column.vc_column_container.vc_col-sm-12
  .vc_column-inner
    .wpb_wrapper
      .es-resp
        .visible-xl(style='height: 160px;')
        .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 160px;')
        .visible-md(style='height: 48px;')
        .visible-sm(style='height: 16px;')
        .visible-ms(style='height: 16px;')
        .visible-xs(style='height: 16px;')
      #like_sc_header_167069890.heading.header-subheader.align-center.subcolor-main.transform-default.has-subheader.theme-icon-second.icon-type-hidden.heading-tag-h2
        h6.subheader.ltx-sr-id-like_sc_header_1670698901011563040.ltx-sr.ltx-sr-effect-slide_from_bottom.ltx-sr-el-block.ltx-sr-delay-200.ltx-sr-duration-500.ltx-sr-sequences-50 Our blog
        h2.header.ltx-sr-id-like_sc_header_1670698901035577065.ltx-sr.ltx-sr-effect-fade_in.ltx-sr-el-block.ltx-sr-delay-0.ltx-sr-duration-1000.ltx-sr-sequences-0(data-text='Recent articles') Recent articles
      .es-resp
        .visible-xl(style='height: 24px;')
        .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 24px;')
        .visible-md(style='height: 24px;')
        .visible-sm(style='height: 24px;')
        .visible-ms(style='height: 24px;')
        .visible-xs(style='height: 24px;')
      .blog.blog-sc.row.centered.layout-featured.size-default
        .col-lg-6.col-md-12.col-sm-12.col-ms-12.col-xs-12
          include ./_big-blog-post.pug
        .items.col-lg-3.col-md-6.col-sm-6.col-ms-12.col-xs-12
          include ../../common/blog-post-item.pug
        .items.col-lg-3.col-md-6.col-sm-6.col-ms-12.col-xs-12
          include ../../common/blog-post-item.pug

      .clear
      .es-resp
        .visible-xl(style='height: 140px;')
        .hidden-xl.hidden-md.hidden-sm.hidden-ms.hidden-xs(style='height: 140px;')
        .visible-md(style='height: 140px;')
        .visible-sm(style='height: 140px;')
        .visible-ms(style='height: 140px;')
        .visible-xs(style='height: 140px;')
