
<div class="page-template-default page page-id-616">
  <div class="container main-wrapper">
    <div class="inner-page margin-default">
      <div class="row centered">
        <div class="col-xl-12 col-xs-12 text-page">
          <article class="post-617 page type-page status-publish hentry" id="post-617">
            <div class="entry-content clearfix" id="entry-div">
              <div class="woocommerce">
                <div class="woocommerce-notices-wrapper"></div>
                <h2>Login</h2>
                <form class="woocommerce-form woocommerce-form-login login" method="post">
                  <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                    <label for="username">Username or email address <span class="required">*</span></label>
                    <input class="woocommerce-Input woocommerce-Input--text input-text" id="username" type="text" name="username" autocomplete="username" value=""/>
                  </p>
                  <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                    <label for="password">Password <span class="required">*</span></label>
                    <input class="woocommerce-Input woocommerce-Input--text input-text" id="password" type="password" name="password" autocomplete="current-password"/>
                  </p>
                  <p class="form-row">
                    <label class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme">
                      <input class="woocommerce-form__input woocommerce-form__input-checkbox" id="rememberme" name="rememberme" type="checkbox" value="forever"/><span>Remember me</span>
                    </label>
                    <input id="woocommerce-login-nonce" type="hidden" name="woocommerce-login-nonce" value="0b87d063c3"/>
                    <input type="hidden" name="_wp_http_referer" value="/my-account/"/><span class="ltx-btn-wrap ltx-btn-wrap-main ltx-btn-wrap-hover-black">
                      <button class="woocommerce-button woocommerce-form-login__submit btn btn-xs btn-main color-hover-black" type="submit" name="login" value="Log in">Log in<span></span></button></span>
                  </p>
                  <p class="woocommerce-LostPassword lost_password"><a href="http://bubulla.like-themes.com/my-account/lost-password/">Lost your password?</a></p>
                </form>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>