.product-template-default.single.single-product.postid-11062
  .container.main-wrapper
    .inner-page.margin-default
      .row.centered
        .col-xl-9.col-lg-12.text-page
          .woocommerce-notices-wrapper
          #product-11062.has-post-thumbnail.product.type-product.post-11062.status-publish.first.instock.product_cat-pork.shipping-taxable.purchasable.product-type-simple
            .woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images(data-columns='4' style='opacity: 1; transition: opacity 0.25s ease-in-out 0s;')
              figure.woocommerce-product-gallery__wrapper
                .woocommerce-product-gallery__image(data-thumb='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-100x100.jpg' data-thumb-alt='')
                  a(href='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07.jpg')
                    img.wp-post-image(width='600' height='600' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-600x600.jpg' alt='' title='meat_07' data-caption='' data-src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07.jpg' data-large_image='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07.jpg' data-large_image_width='1200' data-large_image_height='1200' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-600x600.jpg 600w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-300x300.jpg 300w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-1024x1024.jpg 1024w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-150x150.jpg 150w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-768x768.jpg 768w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-360x360.jpg 360w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-100x100.jpg 100w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-24x24.jpg 24w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-48x48.jpg 48w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-96x96.jpg 96w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-250x250.jpg 250w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-140x140.jpg 140w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-110x110.jpg 110w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-275x275.jpg 275w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-800x800.jpg 800w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-550x550.jpg 550w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07.jpg 1200w' sizes='(max-width: 600px) 100vw, 600px')
            .summary.entry-summary
              p.price
                span.woocommerce-Price-amount.amount
                  span.woocommerce-Price-currencySymbol $
                  | 49.99
              .woocommerce-product-details__short-description
                p
                  | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
              form.cart(action='http://bubulla.like-themes.com/product/beef-with-mint/' method='post' enctype='multipart/form-data')
                .quantity
                  label.screen-reader-text(for='quantity_60f137c72d40b') Beef with mint quantity
                  input#quantity_60f137c72d40b.input-text.qty.text(type='number' step='1' min='1' max='' name='quantity' value='1' title='Qty' size='4' inputmode='numeric')
                  span.more
                  span.less
                span.ltx-btn-wrap.ltx-btn-wrap-main.ltx-btn-wrap-hover-main.ltx-btn-wrap-hover-black
                  button.single_add_to_cart_button.alt.btn.btn-main.color-hover-black.color-hover-main(type='submit' name='add-to-cart' value='11062')
                    | Add to cart
                    span
              .product_meta
                span.posted_in
                  | Category: 
                  a(href='http://bubulla.like-themes.com/product-category/pork/' rel='tag') Sausage
            include ../../common/tabs
            section.related.products
              h2 Related products
              ul.products.columns-3
                include ../../common/productCard