// Footer
.ltx-footer-wrapper
  .ltx-overlay-main-waves
  .ltx-overlay-black-waves
  .subscribe-wrapper
    .container
      .subscribe-block
        section.vc_section.bg-color-theme_color
          .vc_row.wpb_row.vc_row-fluid.vc_row-o-content-middle.vc_row-flex
            .wpb_column.vc_column_container.vc_col-sm-12.vc_col-lg-5.vc_hidden-xs
              .vc_column-inner
                .wpb_wrapper
                  #like_sc_header_1037782472.heading.default.align-left.color-black.subcolor-white.transform-default.heading-icon-fa.icon-type-before.vc_custom_1574626858638.heading-tag-h4.heading-icon
                    span.heading-icon-fa-wrap.bg-transparent.icon-newsletter
                    .heading-content
                      h4.header.ltx-sr-id-like_sc_header_10377824721075745866.ltx-sr.ltx-sr-effect-fade_in.ltx-sr-el-block.ltx-sr-delay-0.ltx-sr-duration-1000.ltx-sr-sequences-0(data-text='<span> Subscribe </span><br />\
                      to our newsletter')
                        span  Subscribe 
                        br
                        |                           to our newsletter
            .wpb_column.vc_column_container.vc_col-sm-12.vc_col-lg-7.text-align-center-md-sm-ms
              .vc_column-inner
                .wpb_wrapper
                  .wpb_text_column.wpb_content_element
                    .wpb_wrapper
                      script.
                        (function () {
                        if (!window.mc4wp) {
                        window.mc4wp = {
                        listeners: [],
                        forms: {
                        on: function (event, callback) {
                        window.mc4wp.listeners.push(
                        {
                        event: event,
                        callback: callback
                        }
                        );
                        }
                        }
                        }
                        }
                        })();
                      // Mailchimp for WordPress v4.7.2 - https://wordpress.org/plugins/mailchimp-for-wp/
                      form#mc4wp-form-1.mc4wp-form.mc4wp-form-806(method='post' data-id='806' data-name='Subscribe Form')
                        .mc4wp-form-fields
                          .input-group
                            input(type='email' name='EMAIL' placeholder='Your email ...' required='')
                            span.input-group-append
                              button.btn.btn-second.color-hover-black(type='submit') Subscribe
                        label(style='display: none !important;')
                          | Leave this field empty if you're human: 
                          input(type='text' name='_mc4wp_honeypot' value='' tabindex='-1' autocomplete='off')
                        input(type='hidden' name='_mc4wp_timestamp' value='1625977204')
                        input(type='hidden' name='_mc4wp_form_id' value='806')
                        input(type='hidden' name='_mc4wp_form_element_id' value='mc4wp-form-1')
                        .mc4wp-response
                      // / Mailchimp for WordPress Plugin
  section#ltx-widgets-footer.ltx-fw
    .container
      .row.row-center-x
        .col-md-8.text-align-center.clearfix
          .footer-widget-area
            #text-14.widget.widget_text
              .textwidget
                p
                  a.logo(href='http://bubulla.like-themes.com/')
                    img(src='/assets/uploads/2018/02/logo_bubulla_1x-1.png' alt='Bubulla' srcset='/assets/uploads/2018/02/logo_bubulla_1x-1.png 1x,/assets/uploads/2018/02/logo_bubulla_2x-1.png 2x')
                  br
                  |                     Etiam consequat sem ullamcorper, euismod metus sit amet, tristique justo. Vestibulum mattis, nisi ut
                  |                     faucibus commodo, risus ex commodo. Donec lacinia elementum diam. Vivamus volutpat a ligula sit amet
                  |                     pretium.
            #text-15.widget.widget_text
              .textwidget
                .ltx-social.ltx-nav-second.ltx-type-
                  ul
                    li
                      a(href='#' target='_self' rel='noopener noreferrer')
                        span.fa.fa-twitter
                    li
                      a(href='#' target='_self' rel='noopener noreferrer')
                        span.fa.fa-facebook-f
                    li
                      a(href='#' target='_self' rel='noopener noreferrer')
                        span.fa.fa-instagram
                    li
                      a(href='#' target='_self' rel='noopener noreferrer')
                        span.fa.fa-youtube
  footer.copyright-block.copyright-layout-default
    .container
      p
        a(href='https://themeforest.net/user/like-themes') Like-themes
        |  © All Rights Reserved - 2019 - 
        a(href='https://themeforest.net/user/like-themes') Purchase
