article#post-11305.post-11305.post.type-post.status-publish.format-standard.has-post-thumbnail.hentry.category-pork.category-rabbit.category-sausages.tag-pork
  a.ltx-photo(href='http://bubulla.like-themes.com/the-principles-of-storage-for-different-types-of-meat/')
    img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image(width='1150' height='885' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/blog_01-1150x885.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/blog_01-1150x885.jpg 1150w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/blog_01-495x380.jpg 495w' sizes='(max-width: 1150px) 100vw, 1150px')
    span.ltx-date-big
      span.ltx-date-day 08
      span.ltx-date-my Dec, 19
  .ltx-description
    span.ltx-cats
      a(href='http://bubulla.like-themes.com/category/pork/') Pork
    a.ltx-header(href='http://bubulla.like-themes.com/the-principles-of-storage-for-different-types-of-meat/')
      h3 The principles of storage for different types of meat
    .ltx-excerpt
      p
        | Morbi volutpat nisi a ligula vestibulum placerat. Suspendisse venenatis pulvinar nibh sed convallis. Cras elementum nunc a purus sodales tin …
    .ltx-post-headline
      a.ltx-comments(href='http://bubulla.like-themes.com/the-principles-of-storage-for-different-types-of-meat/')
        span 0 comments
      span.ltx-icon-fav
        span 682 Views
