ul.breadcrumbs(typeof='BreadcrumbList' vocab='https://schema.org/')
  // Breadcrumb NavXT 6.3.0
  li.home
    span(property='itemListElement' typeof='ListItem')
      a.home(property='item' typeof='WebPage' title='Go to Home.' href='http://bubulla.like-themes.com')
        span(property='name') Home
      meta(property='position' content='1')
  li.post.post-page.current-item
    span(property='itemListElement' typeof='ListItem')
      span(property='name') Cart
      meta(property='position' content='2')