article.item
  a.photo(href='http://bubulla.like-themes.com/gallery/chicken/')
    img.attachment-bubulla-gallery.size-bubulla-gallery.wp-post-image(width='755' height='500' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-1-755x500.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-1-755x500.jpg 755w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-1-128x84.jpg 128w' sizes='(max-width: 755px) 100vw, 755px')
    span.ltx-border-top
    span.ltx-border-bottom
  .descr
    a(href='http://bubulla.like-themes.com/gallery/chicken/')
      h5.header Chicken