nav.woocommerce-pagination
  ul.page-numbers
    li
      span.page-numbers.current(aria-current='page') 1
    li
      a.page-numbers(href='http://bubulla.like-themes.com/shop/page/2/') 2
    li
      a.page-numbers(href='http://bubulla.like-themes.com/shop/page/3/') 3
    li
      a.page-numbers(href='http://bubulla.like-themes.com/shop/page/4/') 4
    li
      a.next.page-numbers(href='http://bubulla.like-themes.com/shop/page/2/') →
