aside#woocommerce_product_tag_cloud-4.widget.woocommerce.widget_product_tag_cloud
  .ltx-sidebar-header
    h3.header-widget
      span.widget-icon
      | Product tags
      span.last.widget-icon
  .tagcloud
    a.tag-cloud-link.tag-link-329.tag-link-position-1(href='http://bubulla.like-themes.com/product-tag/rabbit/' style='font-size: 8pt;' aria-label='rabbit (8 products)') rabbit
    a.tag-cloud-link.tag-link-328.tag-link-position-2(href='http://bubulla.like-themes.com/product-tag/seafood/' style='font-size: 8pt;' aria-label='seafood (8 products)') seafood
