aside#woocommerce_widget_cart-4.widget.woocommerce.widget_shopping_cart
  .ltx-sidebar-header
    h3.header-widget
      span.widget-icon
      | Shopping Cart
      span.last.widget-icon
  .widget_shopping_cart_content
    ul.woocommerce-mini-cart.cart_list.product_list_widget
      li.woocommerce-mini-cart-item.mini_cart_item
        a.remove.remove_from_cart_button(href='http://bubulla.like-themes.com/cart/?remove_item=ed2357bbbd318d584d579d024d9fd808&_wpnonce=2cb6f270dc' aria-label='Remove this item' data-product_id='11062' data-cart_item_key='ed2357bbbd318d584d579d024d9fd808' data-product_sku='') ×
        a(href='http://bubulla.like-themes.com/product/beef-with-mint/')
          img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(width='360' height='360' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-360x360.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-360x360.jpg 360w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-300x300.jpg 300w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-1024x1024.jpg 1024w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-150x150.jpg 150w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-768x768.jpg 768w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-600x600.jpg 600w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-100x100.jpg 100w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-24x24.jpg 24w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-48x48.jpg 48w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-96x96.jpg 96w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-250x250.jpg 250w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-140x140.jpg 140w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-110x110.jpg 110w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-275x275.jpg 275w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-800x800.jpg 800w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07-550x550.jpg 550w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_07.jpg 1200w' sizes='(max-width: 360px) 100vw, 360px')
          | Beef with mint
        span.quantity
          | 2 × 
          span.woocommerce-Price-amount.amount
            span.woocommerce-Price-currencySymbol $
            | 49.99
      li.woocommerce-mini-cart-item.mini_cart_item
        a.remove.remove_from_cart_button(href='http://bubulla.like-themes.com/cart/?remove_item=20371daa1dcc7045675cf3c09dc71d6e&_wpnonce=2cb6f270dc' aria-label='Remove this item' data-product_id='9247' data-cart_item_key='20371daa1dcc7045675cf3c09dc71d6e' data-product_sku='') ×
        a(href='http://bubulla.like-themes.com/product/beef-tongue/')
          img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(width='360' height='360' src='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_11-360x360.jpg' alt='' srcset='http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_11-360x360.jpg 360w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_11-300x300.jpg 300w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_11-1024x1024.jpg 1024w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_11-150x150.jpg 150w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_11-768x768.jpg 768w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_11-600x600.jpg 600w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_11-100x100.jpg 100w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_11-24x24.jpg 24w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_11-48x48.jpg 48w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_11-96x96.jpg 96w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_11-250x250.jpg 250w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_11-140x140.jpg 140w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_11-110x110.jpg 110w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_11-275x275.jpg 275w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_11-800x800.jpg 800w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_11-550x550.jpg 550w, http://bubulla.like-themes.com/wp-content/uploads/2018/02/meat_11.jpg 1200w' sizes='(max-width: 360px) 100vw, 360px')
          | Beef tongue
        span.quantity
          | 2 × 
          span.woocommerce-Price-amount.amount
            span.woocommerce-Price-currencySymbol $
            | 7.99
    p.woocommerce-mini-cart__total.total
      strong Subtotal:
      span.woocommerce-Price-amount.amount
        span.woocommerce-Price-currencySymbol $
        | 115.96
    p.woocommerce-mini-cart__buttons.buttons
      span.ltx-btn-wrap.ltx-btn-wrap-main.ltx-btn-wrap-hover-black
        a.wc-forward.btn.btn-main.color-hover-black(href='http://bubulla.like-themes.com/cart/')
          | View cart
          span
      span.ltx-btn-wrap.ltx-btn-wrap-main.ltx-btn-wrap-hover-black
        a.checkout.wc-forward.btn.btn-main.color-hover-black(href='http://bubulla.like-themes.com/checkout/')
          | Checkout
          span
