aside#woocommerce_product_search-2.widget.woocommerce.widget_product_search
  form.woocommerce-product-search(role='search' method='get' action='http://bubulla.like-themes.com/')
    label.screen-reader-text(for='woocommerce-product-search-field-0') Search for:
    input#woocommerce-product-search-field-0.search-field(type='search' placeholder='Search products…' value='' name='s')
    button(type='submit' value='Search') Search
    input(type='hidden' name='post_type' value='product')
