
aside#woocommerce_product_categories-4.widget.woocommerce.widget_product_categories
  .ltx-sidebar-header
    h3.header-widget
      span.widget-icon
      | Categories
      span.last.widget-icon
  ul.product-categories
    li.cat-item.cat-item-360
      a(href='http://bubulla.like-themes.com/product-category/beef/')
        | Beef
        | steak
    li.cat-item.cat-item-359
      a(href='http://bubulla.like-themes.com/product-category/chicken/') Chicken legs
    li.cat-item.cat-item-372
      a(href='http://bubulla.like-themes.com/product-category/store/') Jamon
    li.cat-item.cat-item-355
      a(href='http://bubulla.like-themes.com/product-category/pork-ribs/') Pork ribs
    li.cat-item.cat-item-371
      a(href='http://bubulla.like-themes.com/product-category/cooked-fish/') Quail Wings
    li.cat-item.cat-item-352
      a(href='http://bubulla.like-themes.com/product-category/pork/') Sausage
    li.cat-item.cat-item-356
      a(href='http://bubulla.like-themes.com/product-category/seafood/') Seafood
    li.cat-item.cat-item-373
      a(href='http://bubulla.like-themes.com/product-category/snaks/') Snaks
    li.cat-item.cat-item-209
      a(href='http://bubulla.like-themes.com/product-category/uncategorized/') Uncategorized
