
<div class="navbar-layout-white" id="nav-wrapper">
  <nav class="navbar" data-spy="" data-offset-top="0">
    <div class="container">
      <div class="navbar-logo"><a class="logo" href="http://bubulla.like-themes.com/"><img src="assets/uploads/2018/02/logo_02_bubulla_1x-1.png" alt="Bubulla" srcset="assets/uploads/2018/02/logo_02_bubulla_1x-1.png 1x,assets/uploads/2018/02/logo_02_bubulla_2x-1.png 2x"/></a></div>
      <div class="navbar-collapse collapse" id="navbar" data-mobile-screen-width="1200">
        <div class="toggle-wrap"><a class="logo" href="http://bubulla.like-themes.com/"><img src="assets/uploads/2018/02/logo_bubulla_1x-1.png" alt="Bubulla" srcset="assets/uploads/2018/02/logo_bubulla_1x-1.png 1x,assets/uploads/2018/02/logo_bubulla_2x-1.png 2x"/></a>
          <button class="navbar-toggle collapsed" type="button"><span class="close">×</span></button>
          <div class="clearfix"></div>
        </div>
        <ul class="nav navbar-nav" id="menu-main-menu">
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-8571" id="menu-item-8571"><a href="#"><span>Home</span></a>
            <ul class="sub-menu">
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-7927" id="menu-item-7927"><a href="http://bubulla.like-themes.com/"><span>Meat Delivery</span></a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11852" id="menu-item-11852"><a href="http://bubulla.like-themes.com/homepage-meat-store/"><span>Meat Store</span></a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11853" id="menu-item-11853"><a href="http://bubulla.like-themes.com/homepage-seafood-store/"><span>Seafood Store</span></a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11851" id="menu-item-11851"><a href="http://bubulla.like-themes.com/homepage-sliced/"><span>Sliced Slider</span></a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11850" id="menu-item-11850"><a href="http://bubulla.like-themes.com/homepage-parallax/"><span>Parallax</span></a></li>
            </ul>
          </li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3557" id="menu-item-3557"><a><span>About us</span></a>
            <ul class="sub-menu">
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57" id="menu-item-57"><a href="http://bubulla.like-themes.com/testimonials/"><span>Testimonials</span></a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-750" id="menu-item-750"><a href="http://bubulla.like-themes.com/team/"><span>Team</span></a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2364" id="menu-item-2364"><a href="/faq/"><span>FAQ</span></a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2584" id="menu-item-2584"><a href="/404-page"><span>404 Page</span></a></li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-60" id="menu-item-60"><a><span>Gallery</span></a>
                <ul class="sub-menu">
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47" id="menu-item-47"><a href="http://bubulla.like-themes.com/gallery-2-columns/"><span>Gallery 2-columns</span></a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-48" id="menu-item-48"><a href="http://bubulla.like-themes.com/gallery-3-columns/"><span>Gallery 3-columns</span></a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49" id="menu-item-49"><a href="http://bubulla.like-themes.com/gallery-4-columns/"><span>Gallery 4-columns</span></a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-619" id="menu-item-619"><a href="#"><span>Products</span></a>
            <ul class="sub-menu">
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-623" id="menu-item-623"><a href="http://bubulla.like-themes.com/shop/"><span>Shop</span></a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-615 current_page_item menu-item-622" id="menu-item-622"><a href="http://bubulla.like-themes.com/cart/"><span>Cart</span></a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-621" id="menu-item-621"><a href="http://bubulla.like-themes.com/checkout/"><span>Checkout</span></a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-620" id="menu-item-620"><a href="http://bubulla.like-themes.com/my-account/"><span>My account</span></a></li>
            </ul>
          </li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-59" id="menu-item-59"><a><span>Blog</span></a>
            <ul class="sub-menu">
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3976" id="menu-item-3976"><a href="#"><span>Blog with Sidebar</span></a>
                <ul class="sub-menu">
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-43" id="menu-item-43"><a href="http://bubulla.like-themes.com/classic-blog-with-right-sidebar/"><span>
                        Classic Right
                        Sidebar</span></a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7844" id="menu-item-7844"><a href="http://bubulla.like-themes.com/blog-masonry-with-sidebar/"><span>
                        Masonry with Right
                        Sidebar</span></a></li>
                </ul>
              </li>
              <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3977" id="menu-item-3977"><a href="#"><span>Blog without Sidebar</span></a>
                <ul class="sub-menu">
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3975" id="menu-item-3975"><a href="http://bubulla.like-themes.com/classic-blog-without-sidebar/"><span>
                        Classic
                        Blog</span></a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-45" id="menu-item-45"><a href="http://bubulla.like-themes.com/blog-two-columns-without-sidebar/"><span>
                        Masonry
                        2-Columns</span></a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-44" id="menu-item-44"><a href="http://bubulla.like-themes.com/blog-three-columns/"><span>Masonry 3-Columns</span></a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-46" id="menu-item-46"><a href="http://bubulla.like-themes.com/contacts/"><span>Contacts</span></a></li>
          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-has-mega-menu menu-item-61" id="menu-item-61"><a href="#"><span>Pages</span></a>
            <div class="mega-menu">
              <ul class="sub-menu mega-menu-row">
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children mega-menu-col menu-item-783" id="menu-item-783"><a><span>Typography</span></a>
                  <ul class="sub-menu sub-menu-has-icons">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-597" id="menu-item-597"><a class="fa fa-font" href="http://bubulla.like-themes.com/elements/headers/"><span>Headers</span></a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-579" id="menu-item-579"><a class="fa fa-align-left" href="http://bubulla.like-themes.com/elements/text/"><span>Text</span></a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-594" id="menu-item-594"><a class="fa fa-columns" href="http://bubulla.like-themes.com/elements/text_columns/"><span>Text Columns</span></a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-643" id="menu-item-643"><a class="fa fa-table" href="http://bubulla.like-themes.com/elements/table/"><span>Table</span></a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-588" id="menu-item-588"><a class="fa fa-arrows-h" href="http://bubulla.like-themes.com/elements/separators/"><span>Separators</span></a></li>
                  </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children mega-menu-col menu-item-784" id="menu-item-784"><a><span>Form Elements</span></a>
                  <ul class="sub-menu sub-menu-has-icons">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-555" id="menu-item-555"><a class="fa fa-mouse-pointer" href="http://bubulla.like-themes.com/elements/buttons/"><span>Buttons</span></a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-705" id="menu-item-705"><a class="fa fa-edit" href="http://bubulla.like-themes.com/elements/forms/"><span>Forms</span></a></li>
                  </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children mega-menu-col menu-item-785" id="menu-item-785"><a><span>Shortcodes</span></a>
                  <ul class="sub-menu sub-menu-has-icons">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-527" id="menu-item-527"><a class="fa fa-list" href="http://bubulla.like-themes.com/elements/accordions/"><span>Accordions</span></a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-538" id="menu-item-538"><a class="fa fa-exclamation-triangle" href="http://bubulla.like-themes.com/elements/alert/"><span>Alerts</span></a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-568" id="menu-item-568"><a class="fa fa-th-large" href="http://bubulla.like-themes.com/elements/tabs/"><span>Tabs</span></a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-56" id="menu-item-56"><a class="fa fa-caret-square-o-right" href="http://bubulla.like-themes.com/elements/shortcodes/"><span>Shortcodes</span></a></li>
                  </ul>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children mega-menu-col menu-item-786" id="menu-item-786"><a href="#"><span>Lists</span></a>
                  <ul class="sub-menu sub-menu-has-icons">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-675" id="menu-item-675"><a class="fa fa-gratipay" href="http://bubulla.like-themes.com/elements/icons-page/"><span>Icons</span></a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-icon menu-item-562" id="menu-item-562"><a class="fa fa-twitter" href="http://bubulla.like-themes.com/elements/list/"><span>
                          Lists
                          and Social Icons</span></a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <div class="ltx-navbar-icons">
          <ul>
            <li class="ltx-fa-icon ltx-nav-profile menu-item-has-children hidden-sm hidden-ms hidden-xs"><a href="http://bubulla.like-themes.com/my-account/"><span class="fa fa fa-user"></span></a></li>
            <li class="ltx-fa-icon ltx-nav-cart hidden-sm hidden-ms hidden-xs">
              <div class="cart-navbar"><a class="ltx-cart cart shop_table" href="http://bubulla.like-themes.com/cart/" title="View your shopping cart"><span class="cart-contents header-cart-count count">4</span><i class="fa fa fa-shopping-cart" aria-hidden="true"></i></a></div>
            </li>
            <li class="ltx-fa-icon ltx-nav-search hidden-sm hidden-ms hidden-xs">
              <div class="top-search" data-base-href="http://bubulla.like-themes.com/"><a class="top-search-ico fa fa-search" id="top-search-ico" href="#" aria-hidden="true"></a><a class="top-search-ico-close" href="#" aria-hidden="true">×</a>
                <input placeholder="Search" value="" type="text"/>
              </div>
            </li>
          </ul>
        </div>
        <div class="mobile-controls"></div>
      </div>
      <div class="navbar-controls">
        <button class="navbar-toggle collapsed" type="button"><span class="icon-bar top-bar"></span><span class="icon-bar middle-bar"></span><span class="icon-bar bottom-bar"></span></button>
      </div>
    </div>
  </nav>
</div>