
<div class="ltx-navbar-icons">
  <ul>
    <li class="ltx-fa-icon ltx-nav-profile menu-item-has-children hidden-sm hidden-ms hidden-xs"><a href="http://bubulla.like-themes.com/my-account/"><span class="fa fa fa-user"></span></a></li>
    <li class="ltx-fa-icon ltx-nav-cart hidden-sm hidden-ms hidden-xs">
      <div class="cart-navbar"><a class="ltx-cart cart shop_table" href="http://bubulla.like-themes.com/cart/" title="View your shopping cart"><span class="cart-contents header-cart-count count">4</span><i class="fa fa fa-shopping-cart" aria-hidden="true"></i></a></div>
    </li>
    <li class="ltx-fa-icon ltx-nav-search hidden-sm hidden-ms hidden-xs">
      <div class="top-search" data-base-href="http://bubulla.like-themes.com/"><a class="top-search-ico fa fa-search" id="top-search-ico" href="#" aria-hidden="true"></a><a class="top-search-ico-close" href="#" aria-hidden="true">×</a>
        <input placeholder="Search" value="" type="text"/>
      </div>
    </li>
  </ul>
</div>
<div class="mobile-controls"></div>