.page-template-default.page.page-id-616
  .container.main-wrapper
    .inner-page.margin-default
      .row.centered
        .col-xl-12.col-xs-12.text-page
          article#post-617.post-617.page.type-page.status-publish.hentry
            #entry-div.entry-content.clearfix
              .woocommerce
                .woocommerce-notices-wrapper
                h2 Login
                form.woocommerce-form.woocommerce-form-login.login(method='post')
                  p.woocommerce-form-row.woocommerce-form-row--wide.form-row.form-row-wide
                    label(for='username')
                      | Username or email address 
                      span.required *
                    input#username.woocommerce-Input.woocommerce-Input--text.input-text(type='text' name='username' autocomplete='username' value='')
                  p.woocommerce-form-row.woocommerce-form-row--wide.form-row.form-row-wide
                    label(for='password')
                      | Password 
                      span.required *
                    input#password.woocommerce-Input.woocommerce-Input--text.input-text(type='password' name='password' autocomplete='current-password')
                  p.form-row
                    label.woocommerce-form__label.woocommerce-form__label-for-checkbox.woocommerce-form-login__rememberme
                      input#rememberme.woocommerce-form__input.woocommerce-form__input-checkbox(name='rememberme' type='checkbox' value='forever')
                      span Remember me
                    input#woocommerce-login-nonce(type='hidden' name='woocommerce-login-nonce' value='0b87d063c3')
                    input(type='hidden' name='_wp_http_referer' value='/my-account/')
                    span.ltx-btn-wrap.ltx-btn-wrap-main.ltx-btn-wrap-hover-black
                      button.woocommerce-button.woocommerce-form-login__submit.btn.btn-xs.btn-main.color-hover-black(type='submit' name='login' value='Log in')
                        | Log in
                        span
                  p.woocommerce-LostPassword.lost_password
                    a(href='http://bubulla.like-themes.com/my-account/lost-password/') Lost your password?
